div.divDataGrid,
div.divDataGrid table,
div.divDataGrid div,
div.divDataGrid select,
div.divDataGrid input,
div.divDataGrid span,
div.divDataGrid td,
div.divDataGrid a
{
  font-family         : Arial,verdana, helvetica;
  font-size           : 10px;
  font-weight         : normal;
}

table.contentGrid
{
}

/* datagrid message */
table.contentGrid td.dataGridErrorMessage
{
  /*height              : 20px;*/
  font-weight         : bold;
  border              : thin solid #993300;
  background-color    : #FF0000;
  color               : #FFFFFF;
  vertical-align      : middle;
  text-align          : left;
  padding             : 2px;
}

table.contentGrid td.dataGridOKMessage
{
  /*height              : 20px;*/
  font-weight         : bold;
  background-color    : #00CC00;
  color               : #ffffff;
  border              : thin solid #337733;
  vertical-align      : middle;
  text-align          : left;
  padding             : 2px;
}

table.contentGrid input.textbox 
{
  height              : 18px;
  border              : thin solid #a5acb2;
  padding             : 0px 3px 0px 3px;
  margin              : 0px 0px 0px 0px;
}

table.contentGrid  a
{
  text-decoration     : none;
}

table.contentGrid  a:hover
{
  text-decoration     : underline;
}

table.pageLimitGrid
{
  padding             : 0px 0px 0px 0px;
  background-color    : #eee;
  border              : thin solid #333;
}

table.pageLimitGrid td.dataGridTitle
{
  font-weight         : bold;
  color               : #000000;
  vertical-align      : middle;
  text-align          : center;
  letter-spacing      : 1px;
  text-transform      : UPPERCASE;
}

table.pageLimitGrid input.buttonSearch
{
  height              : 21px;
	width               : 21px;
	background-color    : #eee;
	background-image    : url(./datagrid/buttonSearch.gif);
	background-repeat   : no-repeat;
	background-position : center;
	border              : 0px solid #ffffff;
	padding             : 0px 0px 0px 0px;
	cursor              : pointer;
}

table.pageLimitGrid select
{
  height              : 18px;
  border              : thin solid #a5acb2;
  margin              : 0px 0px 0px 0px;
  padding             : 0px 0px 0px 0px;
}

table.pageLimitGrid div.caption
{
  font-weight         : bold;
  color               : #333333;
  float               : left;
}

table.pagingGrid
{
  border-bottom       : thin solid #CCCCCC;
  border-right        : thin solid #CCCCCC;
  border-left         : thin solid #CCCCCC;
  background-color    : #CCCCCC;
  cursor              : default;
  padding             : 2px 0px 2px 0px;
  vertical-align      : middle;
  color               : #ffffff;
}

/* untuk class nomornya page aktif*/
table.pagingGrid td.currentPage
{
  color               : #aaaaaa;
  text-align          : center;
  font-weight         : bold;
}

table.pagingGrid td
{
  background-color    : #cccccc;
  color               : black;
}

table.pagingGrid td.disabledNavigation
{
  background-color    : #cccccc;
  color               : #555555;
}

table.pagingGrid a
{
  background-color    : #cccccc;
  font-weight         : bold;
  text-decoration     : none;
  text-align          : center;
  color               : #000000;
}

/* table datagrid */
table.dataGrid 
{
  font-family         : Arial,verdana, helvetica;
  font-size           : 10px;
  border-left         : thin solid #CCCCCC;
  border-right        : thin solid #CCCCCC;
  border-top          : thin solid #CCCCCC;
  border-collapse     : collapse;
  empty-cells         : show;
  background-color    : #fff;
}

/*normal row*/
table.dataGrid tbody tr
{
  background-color    : transparent;
  vertical-align      : middle;
}

/*alternate row*/
table.dataGrid tbody tr.a
{
  background-color    : #f7f7f7;
  vertical-align      : middle;
}

/*row for sub total*/
table.dataGrid tbody tr.gs
{
  background-color    : #bebebe;
  vertical-align      : middle;
}

/*row for grand total*/
table.dataGrid tbody tr.gt
{
  background-color    : #bbbbbb;
  vertical-align      : middle;
}

table.dataGrid tbody tr.bgDenied 
{
  background-color: #FFCCCC;
  vertical-align      : middle;
}
table.dataGrid tbody tr.bgDeniedHover
{
  background-color: #DD9999;
  vertical-align      : middle;
}

table.dataGrid tbody tr.bgNewRevised 
{
  background-color: #FFFFCC;
  vertical-align      : middle;
}
table.dataGrid tbody tr.bgNewRevisedHover
{
  background-color: #DDDD77;
  vertical-align      : middle;
}

/* -- untuk membedakan data yang diupdate, udah diapprove atau belum */
table.dataGrid tbody tr.bgNewData 
{
  background-color: #66FFFF;
  vertical-align      : middle;
}
table.dataGrid tbody tr.bgNewDataHover 
{
  background-color: #22DDDD;
  vertical-align      : middle;
}

/*row for checked data*/
table.dataGrid tbody tr.bgCheckedData
{
  background-color: #CCFF66;
  vertical-align      : middle;
}
table.dataGrid tbody tr.bgCheckedDataHover
{
  background-color: #99DD33;
  vertical-align      : middle;
}

table.dataGrid tbody tr.bgVerifiedData 
{
  background-color: #FFFF00;
  vertical-align      : middle;
}

table.dataGrid tbody tr.bgVerifiedDataHover
{
  background-color: #EEEE00;
  vertical-align      : middle;
}

/*hovering row in tbody*/
table.dataGrid tbody tr.Hover
{
  background-color    : #dedede;
  vertical-align      : middle;
}

/*hovering alternate row in tbody*/
table.dataGrid tbody tr.aHover
{
  background-color    : #dedede;
  vertical-align      : middle;
}
/*hovering selected row in tbody*/
table.dataGrid tbody tr.Selected, table.dataGrid tbody tr.SelectedHover, table.dataGrid tbody tr.HoverSelected,
table.dataGrid tbody tr.aSelected, table.dataGrid tbody tr.aSelectedHover, table.dataGrid tbody tr.aHoverSelected,
table.dataGrid tbody tr.bgDeniedSelected, table.dataGrid tbody tr.bgDeniedHoverSelected, table.dataGrid tbody tr.bgDeniedSelectedHover, 
table.dataGrid tbody tr.bgNewRevisedSelected, table.dataGrid tbody tr.bgNewRevisedHoverSelected, table.dataGrid tbody tr.bgNewRevisedSelectedHover, 
table.dataGrid tbody tr.bgNewDataSelected, table.dataGrid tbody tr.bgNewDataHoverSelected, table.dataGrid tbody tr.bgNewDataSelectedHover, 
table.dataGrid tbody tr.bgCheckedDataSelected, table.dataGrid tbody tr.bgCheckedDataHoverSelected, table.dataGrid tbody tr.bgCheckedDataSelectedHover, 
table.dataGrid tbody tr.bgVerifiedDataSelected, table.dataGrid tbody tr.bgVerifiedDataHoverSelected, table.dataGrid tbody tr.bgVerifiedDataSelectedHover
{
  vertical-align      : middle;
  background-color    : #6f94fd;
}

/*all input inside cell row or cell header-row*/
table.dataGrid  td input, table.dataGrid  th input
{
  margin              : 1px 0px 1px 0px;
  padding             : 0px 0px 0px 0px;
  height              : 17px;
}

/*all input checkbox inside grid-system */
table.dataGrid  td input.c, table.dataGrid  th input.c, div.contextMenu input.c
{
  margin              : 1px 0px 1px 0px;
  padding             : 0px 0px 0px 0px;
  border-style        : none;
  height              : 17px;
}

/*all cell inside tbody */
table.dataGrid  tbody td
{
  border-right        : thin solid #CCCCCC;
  border-bottom       : thin solid #CCCCCC;
  padding             : 1px 3px 1px 3px;
}

/*all cell inside tfoot*/
table.dataGrid  tfoot td
{
  border-right        : thin solid #CCCCCC;
  border-top          : thin solid #777777;
  border-bottom       : thin solid #777777;
  padding             : 1px 3px 1px 3px;
  background-color    : #e4e4e4;
}

/*all header-cell inside datagrid*/
table.dataGrid  th
{
  border-right        : thin solid #CCCCCC;
  border-bottom       : thin solid #CCCCCC;
  text-decoration     : none;
  color               : black;
  padding             : 0px 3px 0px 3px;
  font-weight         : bold;
  background-color    : #E2E2E2;
}

/*hovering all header-cell inside datagrid*/
table.dataGrid  th.Hover
{
  background-color    : #aaaaaa;
  cursor              : pointer;
}

/*all spanned header-cell inside datagrid*/
table.dataGrid  th.spannedCol
{
  background-color    : #E2E2E2;
  border-right        : thin solid #CCCCCC;
  text-decoration     : none;
  color               : black;
  padding             : 0px 3px 0px 3px;
  font-weight         : bold;
}

/*a href link on header-cell inside datagrid*/
table.dataGrid  th a
{
  font-weight         : bold;
  text-decoration     : none;
  color               : #000000;
}

/*all button inside datagrid*/
table.dataGrid input.button
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  cursor              : pointer;
}
  
table.dataGrid input.buttonHover
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  cursor              : pointer;
}

/*all disabled button inside datagrid*/
table.dataGrid input.buttonDisabled 
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  color               : #aaaaaa;
}

/*all special button inside datagrid*/
table.dataGrid input.buttonSpecial
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  cursor              : pointer;
}

/*hovering all special button inside datagrid*/
table.dataGrid input.buttonSpecialHover
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  cursor              : pointer;
}

/*all disabled special button inside datagrid*/
table.dataGrid input.buttonSpecialDisabled
{
  padding             : 0px 3px 0px 3px;
  height              : 20px;
  color               : #aaaaaa;
}

div.indicator
{
  border              : thin solid #333333; 
  Z-INDEX             : 100; 
  color               : #ffffff;
  padding             : 10px; 
  background-color    : #cccccc;
  width               : 160px;
  height              : 30px;
  vertical-align      : middle;
  position            : absolute;
}

div.contextMenu
{
  background          : #eaeaea; 
  border              : thin solid #333; 
  display             : none; 
  position            : absolute;
}

div.contextMenu ul
{
  margin              : 0px 0px 0px 0px; 
  padding             : 2px 8px 2px 8px; 
  list-style-type     : none;
}