<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle">
      <table border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td class="pageHeaderTitleText" nowrap>Overtime Trip Disposition Form </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"></td>
          <td nowrap><strong>
           
           </strong></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td valign="top">
      [var.formFilter;protect=no;htmlconv=no]
    </td>
  </tr>
  <tr> 
    <td height="5"></td>
  </tr>
  <tr> 
    <td valign="top">
      [var.DataGrid;protect=no;htmlconv=no]
    </td>
  </tr>

</table>
<script type="text/javascript">
	var myClient = {
    confirmDelete : function()
    {
      return confirm('[var.strConfirmDelete]');
    },
    confirmSave : function()
    {
      return confirm('[var.strConfirmSave]');
    }
  }
</script>