<script src="scripts/calendar.js"></script>
<script src="scripts/calendar-en.js"></script>
<link href="../css/calendar.css" rel="stylesheet" type="text/css">
<script src="scripts/acEmployee.js"></script>
<script src="scripts/ylib.js"></script>
<script src="scripts/invosa.js"></script>
<script src="employee_data.php"></script>
<link href="../css/ac.css" rel="stylesheet" type="text/css">
<script language="Javascript">
  // script-script tambahan, khusus untu loockup employee

  AC_targetElements = ["dataEmployee"];

  // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
  // kehilangan fokus.
  function onCodeBlur() {
    var kode = document.formInput.dataEmployee.value;
    var nama = AC_getNameByCode(kode);
    var obj = document.getElementById("employee_name");
    obj.innerHTML = nama;
    return 1;
  }
</script>
<script>
  <!--
  // fungsi memeriksa validasi input
  function validInput() {
    if (document.formInput.dataDateFrom.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateFrom.focus();
      return false;
    }
    if (document.formInput.dataDateThru.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateThru.focus();
      return false;
    }

    return true;
  } //validInput

  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("[var.strConfirmDelete]");
  } //confirmDelete

  // fungsi untuk minta konfirmasi delete
  function confirmStatusChanges(isDenied) {
    bolOK = confirm("[var.strConfirmChangeStatus]");
    if (bolOK && isDenied) {
      document.formData.action = "absence_denied.php";
    }

    // cek, jika verified data oleh Atasan, apakah ada yagn sudah lewat waktu, harus ada alasan !
    if (bolOK && document.formData.dataRole.value == 2)
    {
      // cari apakah ada yang kedaluwarsa
      // cari dulu, minta alasan
      var intData = document.formData.totalData.value;
      for (i = 1; i <= intData; i++) {
        cek = eval("document.formData.chkID" + i + ".checked");
        cek = cek && eval("typeof(document.formData.dataBlocked" + i + ") != 'undefined'");
        if (cek) {
          nama = eval("document.formData.detailName" + i + ".value");
          tgl = eval("document.formData.detailDate" + i + ".value");
          str = prompt("Enter REASON for " + nama + " at " + tgl);
          eval("document.formData.dataNote" + i + ".disabled = false");
          if (str == null || str == "")
          {
            bolOK = false;
            break;
          }
          else
            eval("document.formData.dataNote" + i + ".value = '" + str + "' ");
        }
      } //for
    }
    return bolOK;
  } //confirmStatusChanges

  // fungsi untuk minta konfirmasi penandaaan suatu absen menjadi cuti atau tidak
  function confirmMarkLeave(tipe) {
    if (tipe == 1) // bukan cuti
      bolOK = confirm("Are you sure want to mark selected data as NOT LEAVE?");
    else
      bolOK = confirm("Are you sure want to mark selected data as LEAVE?");
    return bolOK;
  } //confirmStatusChanges

  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;

    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for

  }//checkAll

  // fungsi untuk inisialisasi
  function initPage_() {
    document.formInput.dataDateFrom.focus();
    Calendar.setup({ inputField:"dataDateFrom", button:"btnDateFrom" });
    Calendar.setup({ inputField:"dataDateThru", button:"btnDateThru" });
    init();
    onCodeBlur();
  }//initPage
  -->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"></td>
          <td nowrap><strong>
            <a href="absence_edit.php">[var.strWordsEntryAbsence]</a> |
            [var.strWordsAbsenceList] |  
            <a href="absence_partial_edit.php">[var.strWordsEntryPartialAbsence]</a> |
            <a href="absence_partial_list.php">[var.strWordsPartialAbsenceList]</a> |
            <a href="leave_annual.php">[var.strWordsAnnualLeave]</a> </strong>

          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td valign="top" class="inputBox"> <form action="" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsDateFrom]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateFrom]&nbsp; <input name="btnDateFrom" type="button" id="btnDateFrom" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDateThru]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateThru]&nbsp; <input name="btnDateThru" type="button" id="btnDateThru" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsAbsenceType]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputAbsenceType]</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsEmployeeID]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputEmployee]</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td><strong id=employee_name></strong></td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp;
                  </td>
                </tr>
              </table></td>
            <td width="20" valign="top">&nbsp;</td>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDivision]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDivision]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDepartment]&nbsp;&nbsp;&nbsp;</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDepartment]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strWordsSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSection]</td>                  
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsSubSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSubSection]</td>                  
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp; </td>
                </tr>
              </table></td> 
              <td width="20" valign="top">&nbsp;</td>
              <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td  align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;Company</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputCompany]</td>
                </tr>
                <tr>
                  <td nowrap> &nbsp;[var.strWordsActive]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputActive]</td>
                </tr>
                <tr>
                  <td nowrap> &nbsp;[var.strWordsEmployeeStatus]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputEmployeeStatus]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp; </td>
                </tr>
              </table></td>
          </tr>

          <tr>
            <td valign="top" colspan=3>
            &nbsp;<input name="btnShow" type="submit" id="btnShow" value="[var.strWordsShowData]" onClick="document.formInput.target = ''">
                  <input name="btnPrint" type="submit" value="[var.strWordsPrintAll]" onClick="document.formInput.target = '_blank'">
                  <input name="btnPrintApproved" type="submit" value="[var.strWordsPrintApproved]" onClick="document.formInput.target = '_blank'">
                  <input name="btnExcel" id="btnExcel" value="[var.strWordsExcel]" type="submit" onClick="document.formInput.target = ''"></td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="listTop"><strong>[var.strWordsLISTOFEMPLOYEEABSENCE] [var.strWordsInfo]</strong></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="formData" id="formData">
        <table border="0" cellpadding="0" cellspacing="0" class="gridTable" width="100%">
          <tr align="center" class="tableHeader">
            <td width="5" nowrap class="tableHeader">&nbsp;</td>
            <td nowrap class="tableHeader">[var.strWordsREQUESTDATE]</td>
            <td nowrap class="tableHeader">[var.strWordsDATEFROM] </td>
            <td nowrap class="tableHeader">[var.strWordsDATETHRU]</td>
            <td nowrap class="tableHeader">[var.strWordsEMPLID]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsDEPT].</td>
            <td nowrap class="tableHeader">[var.strWordsACT]</td>
            <td nowrap class="tableHeader">[var.strWordsABSTYPE]</td>
            <td nowrap class="tableHeader">[var.strWordsDURATION]</td>
            <td nowrap class="tableHeader">[var.strWordsNOTE]</td>
            <td nowrap class="tableHeader">[var.strWordsSTATUS]</td>
            <td nowrap class="tableHeader">[var.strWordsCheckedBy]</td>
            <td nowrap class="tableHeader" width="100">[var.strWordsCheckedTime]</td>
            <td nowrap class="tableHeader">[var.strWordsApprovedBy]</td>
            <td nowrap class="tableHeader" width="100">[var.strWordsApprovedTime]</td>
            <td nowrap class="tableHeader">&nbsp;</td>
          </tr>
          [var.strDataDetail]
          <tr>
            <td> <input name="chkAll" type="checkbox" id="chkAll" value="All" onClick="checkAll();">
              &nbsp;</td>
            <td colspan="16"> [var.strButtonList]
              <input name="totalData" type="hidden" id="totalData" value="[var.intTotalData]">
              <input name="dataRole" type="hidden" id="dataRole" value="[var.strUserRole]">
              [var.strHidden] &nbsp; </td>
          </tr>
        </table>
      </form></td>
  </tr>
</table>