<!-- <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0;padding:0;">
  <tr valign="top" width = "100%" height = "3%" style="background-color:blue;">
    <td span="2">&nbsp;</td>
  </tr>
</table> -->
<table width="100%" border="0" cellspacing="5" cellpadding="1">
  <tr>
    <td style="padding-left: 20px;" width="50%">
      <table width="90%" border="0" cellpadding="0" cellspacing="0">
        <tr valign="bottom">
          <td width="100">
            <img src="../images/wal_logo.png" width="20%" style="display:none;">
          </td>
        </tr>
      </table>
    </td>
    <td  width="50%">
      <table width="90%" border="0" cellpadding="1" cellspacing="0">
        <tr>
          <td>&nbsp;</td>
          <td><h3>Attendance Detail</h3></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Period</td>
          <td width="20">:</td>
          <td nowrap>&nbsp;[var.strPeriod]</td>
        </tr>
        <tr valign="bottom">
          <td>&nbsp;</td>
          <td>BRANCH</td>
          <td width="20">:</td>
          <td nowrap>&nbsp;[var.strBranch]</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Employee</h3></td>
          <td width="20">:</td>
          <td nowrap>&nbsp;[var.strEmployeeID] - [var.strEmployeeName]</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>Job Title</h3></td>
          <td width="20">:</td>
          <td nowrap>&nbsp;[var.strFunctional]</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr><td colspan=2>&nbsp;</td></tr>
</table>
<table border="1" style="width:100%">
  <!-- <th> -->
    <th>Attendance Date</th>
    <th>Attendance IN</th>
    <th>Attendance OUT</th>
    <th>Attendance Code</th>
    <th>Late Duration</th>
    <th>Early Duration</th>
    <!-- <th></td> -->
  [var.strResult]
</table>
<br>
<br>
<!-- <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin:0;padding:0;">
  <tr valign="top" align="center" width = "100%" height = "15%" style="background-color:#4AA02C; color:white;">
    <td span="2">
      <small style="color:white;" style="display:none;">
        <strong>GRHA WANAARTHA</strong> Jl. Mampang Raya No. 76, Jakarta 12790
        <br>Tel. +62 21 798 5179 (hunting) Fax. +61 21 798 5180
        <br>www.wanaarthalife.com
      <small>
    </td>
  </tr>
</table> -->
