<script>
	<!--

	//fungsi untuk memeriksa apakah input valid
	function validInput() {
		if (document.formInput.dataOld.value == "") {
			alert("Empty old password!");
			document.formInput.dataOld.focus();
			return false;
		}
		if (document.formInput.dataNew.value == "") {
			alert("Empty new password!");
			document.formInput.dataNew.focus();
			return false;
		}
		if (document.formInput.dataNew1.value == "") {
			alert("Please retype new password!");
			document.formInput.dataNew1.focus();
			return false;
		}
		if (document.formInput.dataNew.value != document.formInput.dataNew1.value) {
			alert("New passwords not similar!");
			document.formInput.dataNew1.focus();
			return false;
		}
		return true;
	}//validInput

	// fungsi untuk inisialisasi
	function initPage_() {
		document.formInput.dataOld.focus();
	}//initPage
	-->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strWordsChangePassword]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="inputBox"> <form action="changepassword.php" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
        <table width="500" border="0" align="left" cellpadding="1" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="15%" nowrap>&nbsp;[var.strWordsOldPassword]</td>
            <td width="5%">:</td>
            <td width="80%"><input name="dataOld" type="password" id="dataOld" size="50" maxlength="20"></td>
          </tr>
          <tr>
            <td nowrap> &nbsp;[var.strWordsNewPassword]</td>
            <td>:</td>
            <td><input name="dataNew" type="password" id="dataCode3" size="50" maxlength="50"></td>
          </tr>
          <tr>
            <td nowrap> &nbsp;[var.strWordsRetypeNewPassword]</td>
            <td>:</td>
            <td><input name="dataNew1" type="password" id="dataCode3" size="50" maxlength="50"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input name="btnSave" type="submit" id="btnSave" value="[var.strWordsChangePassword]">
            </td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>