<script type="text/javascript" src="./scripts/ajax.js"></script>
<script type="text/javascript">
    var submitCount = 0;

    function showDetail(man, div, dept, subdept, sect, subsect) {
        if (submitCount != 0) return;
        submitCount++;
        $('management_code').value = man;
        $('division_code').value = div;
        $('department_code').value = dept;
        $('sub_department_code').value = subdept;
        $('section_code').value = sect;
        $('sub_section_code').value = subsect;
        queryString = "ajax=1&management_code=" + man + "&division_code=" + div + "&department_code=" + dept + "&sub_department_code=" + subdept + "&section_code=" + sect + "&sub_section_code=" + subsect
        new Ajax.Request("data_department_tree.php",
                {
                    method: 'get',
                    parameters: queryString,
                    onComplete: function (transport, json) {
                        //alert(transport.responseText );
                        if ((transport.responseText || '') == '') return false;

                        submitCount = 0;
                        $('dataGridContainer').update (transport.responseText);
                        location.href = "#top";
                    },
                    onLoading: function () {
                        if (submitCount != 0)
                            $('dataGridContainer').update ("<img src='../images/loading_bar.gif' />");

                    },
                    onFailure: function () {
                        if (submitCount != 0)
                            $('dataGridContainer').update ("Failed to get data!");
                        submitCount = 0;
                    }
                });

    }

    function dataPrint() {
        url = "data_department_tree.php?btnPrint=Print";
        window.open(url);
    }//dataPrint
    jQuery(function ($) {
        $('#organizational-tree').nestable({});
        $("#organizational-tree").nestable("collapseAll");
        $('.dd-handle').on('mousedown', function (e) {
            e.stopPropagation();
        });
        $("#nestable-menu").on("click", function (e) {
            var target = $(e.target),
                    action = target.data("action");
            "expand-all" === action && $("#organizational-tree").nestable("expandAll"), "collapse-all" === action && $("#organizational-tree").nestable("collapseAll")
        });
    })
</script>
[var.pageHeader]
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            [var.pageSubMenu]
            <p></p>
        </div>
        <div class="col-md-12">
            <div class="col-md-5">[var.dataTreeView;htmlconv=no;protect=no]</div>
            <div class="col-md-7">
                <div [var.strClass] align="center">[var.strMessages]</div>
                <form name="formData" id="formData" method="post" action="data_department_tree.php">
                    <a name="topgrid"></a>

                    <div id="dataGridContainer">
                        [var.dataGrid;htmlconv=no;protect=no]
                    </div>
                    <input type="hidden" name="management_code" id="management_code" value="[var.strManagementCode]">
                    <input type="hidden" name="division_code" id="division_code" value="[var.strDivisionCode]">
                    <input type="hidden" name="department_code" id="department_code" value="[var.strDepartmentCode]">
                    <input type="hidden"
                           name="sub_department_code"
                           id="sub_department_code"
                           value="[var.strSubDepartmentCode]">
                    <input type="hidden" name="section_code" id="section_code" value="[var.strSectionCode]">
                    <input type="hidden" name="sub_section_code" id="sub_section_code" value="[var.strSubSectionCode]">
                </form>
            </div>
            <div class="col-md-12">
                <div>&nbsp;</div>
                <input class="btn btn-primary"
                       name="btnPrint"
                       type="button"
                       id="btnPrint"
                       value="[var.strWordsPrint]"
                       onClick="dataPrint()">
            </div>
        </div>
    </div>
</div>