[var.pageHeader]
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            [var.formInput;protect=no;htmlconv=no]
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-actions">
                        <div class="pull-right" id="collapse-filter">
                            <a href="#" data-toggle="collapse" data-target="#list-panel"><i class="fa fa-chevron-circle-down bigger-130"></i></a>
                        </div>
                    </div>
                    <h3 class="panel-title">LEVEL LEAVE QUOTA LIST</h3>
                </div>
                <div id="list-panel" class="panel-body collapse in">
                    [var.dataGrid;protect=no;htmlconv=no]
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function validInput() {
        var numbers = /^[0-9]+$/;
        var maxQuota = document.getElementById('dataYearlyQuota').value;
        if (!(maxQuota.match(numbers))) {
            alert('Please enter number for maximal leave quota!');
            return false;
        }
    }
</script>
