<script>
  <!--
  function resetInput() {
    document.formInput.dataCode.value = "";
    document.formInput.dataName.value = "";
    document.formInput.dataNote.value = "";
    document.formInput.dataID.value = "";
    document.formInput.dataCode.focus();
  }//resetInput

  // fungsi untuk menyiapkan data diedit
  function editData(index) {
    if (index != "") {
      document.formInput.dataCode.value = eval("document.formData.detailCode" + index + ".value");
      document.formInput.dataName.value = eval("document.formData.detailName" + index + ".value");
      document.formInput.dataNote.value = eval("document.formData.detailNote" + index + ".value");
      document.formInput.dataID.value = eval("document.formData.chkID" + index + ".value");
      document.formInput.dataCode.select();
    }
  }//editData

  //fungsi untuk memeriksa apakah input valid
  function validInput() {

    return true;
  }//validInput

  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;

    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for

  }//checkAll

  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("[var.strConfirmDelete]");
  } //confirmDelete

  // fungsi untuk inisialisasi
  function initPage_() {
    document.formInput.dataCode.focus();
  }//initPage
  -->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strWordsGROUPData]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
   <td class="inputTop">[var.strWordsINPUTDATA]</td>
  </tr>
  <tr>
    <td class="inputBox"> <form action="" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
        <table width="500" border="0" align="left" cellpadding="1" cellspacing="0">
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td width="15%" nowrap>&nbsp;[var.strWordsCode]</td>
            <td width="5%">:</td>
            <td width="80%"><input name="dataCode" type="text" id="dataCode" size="50" maxlength="20"></td>
          </tr>
          <tr>
            <td height="21" nowrap> &nbsp;[var.strWordsName]</td>
            <td>:</td>
            <td><input name="dataName" type="text" id="dataCode3" size="50" maxlength="50"></td>
          </tr>
          <tr>
            <td height="21" nowrap> &nbsp;[var.strWordsNote]</td>
            <td>:</td>
            <td><input name="dataNote" type="text" id="dataCode3" size="50" maxlength="50"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td><input name="btnSave" type="submit" id="btnSave" value="[var.strWordsSave]">
              <input name="dataID" type="hidden" id="dataID"> <input name="btnNew" type="button" id="btnNew" value="[var.strWordsAddNew]" onClick="resetInput();"></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="listTop"><strong>[var.strWordsLISTOFGROUP]</strong></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="formData" id="formData">
        <table width="500" border="0" cellpadding="1" cellspacing="0" class="gridTable">
          <tr class="tableHeader">
            <td width="5">&nbsp;</td>
            <td nowrap class="tableHeader"> [var.strWordsCODE]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsNOTE]</td>
            <td width="19">&nbsp;</td>
          </tr>
          [var.strDataDetail]
          <tr>
            <td><input name="chkAll" type="checkbox" id="chkAll" value="checkbox" onClick="checkAll();"></td>
            <td colspan="4"><input name="btnDelete" type="submit" id="btnDelete" value="[var.strWordsDelete]" onClick="return confirmDelete();">
              <input name="totalData" type="hidden" id="totalData" value="[var.intTotalData]"></td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">[var.strCopyright]</td>
  </tr>
</table>