[var.pageHeader]
	<div class="main-content">
  	<div class="row">
  		<div class="col-md-12">
  			<div class="panel">
					<div class="panel-heading">
						<div class="panel-actions">
							<div class="pull-right" id="collapse-filter">
						  	<a href="#" data-toggle="collapse" data-target="#list-panel"><i class="fa fa-chevron-circle-down bigger-130"></i></a>
						  </div>
						</div>
						<h3 class="panel-title">[var.strWordsINPUTDATA]</h3>
					</div>
					<div id="list-panel" class="panel-body collapse in">
						<form action="" method="post" name="formInput" id="formInput" class="form-horizontal" role="form">
							<div class="col-md-5">
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataManagement">Management</label>
									<div class="col-sm-8">
										[var.strInputManagement]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataDivision">Division</label>
									<div class="col-sm-8">
										[var.strInputDivision]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataDepartment">Department</label>
									<div class="col-sm-8">
										[var.strInputDepartment]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataDepartment">Section</label>
									<div class="col-sm-8">
										[var.strInputSection]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataSubSection">SubSection</label>
									<div class="col-sm-8">
										[var.strInputSubSection]
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-4 control-label" for="dataBranch">Branch</label>
									<div class="col-sm-8">
										[var.strInputBranch]
									</div>
								</div>
							</div>
							<div class="col-md-12 form-actions">
								<input class="btn btn-primary btn-small" name="btnSave" type="submit" id="btnSave" value="Save">&nbsp;&nbsp;<a class="btn btn-danger btn-small" href="data_cost_center.php">Back</a>
							</div>
						</form>
					</div>
				</div>
  		</div>
  	</div>
  </div>
