
<div align=center>
<table width="100%">
<tr>
<td width="10%">&nbsp;</td>
<td>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan=6 align=center nowrap><h2>Disposition Form<br>[var.strFormCode]</h2></td>
  </tr>  

  <tr>
    <td nowrap>To&nbsp;</td>
    <td nowrap>:&nbsp;</td>
    <td nowrap>Finance</td>
    <td nowrap>Date&nbsp;</td>
    <td nowrap>:&nbsp;</td>
    <td nowrap>[var.strSlipDate]</td>
  </tr>
  <tr>
    <td nowrap>From&nbsp;</td>
    <td nowrap>:&nbsp;</td>
    <td nowrap>HR</td>
    <td nowrap>Subject&nbsp;</td>
    <td nowrap>:&nbsp;</td>
    <td nowrap>Cost of [var.strSlipTopic]</td>
  </tr>
  <tr>
    
  </tr>
  <tr>
    
  </tr>
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr>
    <td colspan=6 nowrap ><strong >Kindly process the payment of [var.strSlipTopic] to the following employee</strong></td>
  </tr>  
  [var.strSlipContent1]
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr>
    <td colspan=6 nowrap><strong>Detail Information of [var.strSlipTopic]</strong></td>
  </tr>  
  [var.strSlipContent2]
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr>
 <!--   <td colspan=6 nowrap><strong>The payment to be transfered to the following account</strong></td>
  </tr>  
  [var.strSlipContent3] -->
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr>
    <td colspan=3 nowrap><strong>Approved by,</strong></td>
    <td colspan=3 nowrap><strong>Received by,</strong></td>
  </tr>  
  <tr style="height:50"><td colspan=6>&nbsp;</td></tr>
  <tr style="height:50"><td colspan=6>&nbsp;</td></tr>
  <tr>
    <td colspan=3 nowrap><strong><u>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</u></strong></td>
    <td colspan=3 nowrap><strong><u>(&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;)</u></strong></td>
  </tr>
  <tr><td colspan=6 style="font-size:3pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:3pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:3pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:3pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:3pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  <tr><td colspan=6 style="font-size:5pt">&nbsp;</td></tr>
  </table>
  </td>
  </tr>
  </table>