<html>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td colspan="2" class="tableHeader"><strong>&nbsp;PRIMARY DATA</strong></td>
  </tr>
  <tr align="left">
      <td valign="top">
<table border="0" cellpadding="2" cellspacing="0">
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td width="20%" nowrap>&nbsp;[var.strWordsEmployeeID]</td>
            <td width="5%">:</td>
            <td width="75%">[var.strInputEmployeeID] </td>
          </tr>

          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsFingerID]</td>
            <td>:</td>
            <td>[var.strInputFingerID]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsEmployeeName]</td>
            <td>:</td>
            <td>[var.strInputName]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsLetterCode]</td>
            <td>:</td>
            <td>[var.strInputLetterCode]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsNickname]</td>
            <td>:</td>
            <td>[var.strInputNickname]</td>
          </tr>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsBirthday]</td>
            <td>:</td>
            <td nowrap>[var.strInputBirthday]&nbsp; </td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsBirthplace]</td>
            <td>:</td>
            <td>[var.strInputBirthplace]</td>
            </tr>
          <tr valign="top">
            <td height="17" nowrap> &nbsp;[var.strWordsGender]</td>
            <td>:</td>
            <td>[var.strInputGender]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsAddress]</td>
            <td>:</td>
            <td>[var.strInputAddress]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsCityZip]</td>
            <td>:</td>
            <td>[var.strInputCity] / [var.strInputZip]</td>
          </tr>
          [var.strMoreAddress]
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsPhone]</td>
            <td>:</td>
            <td>[var.strInputPhone]</td>
          </tr>
          [var.strMorePhone]
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsEmail]</td>
            <td>:</td>
            <td>[var.strInputEmail]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsEmergencyContact]</td>
            <td>:</td>
            <td>[var.strInputEmergencyContact]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsRelation]</td>
            <td>:</td>
            <td>[var.strInputEmergencyRelation]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsEmergencyAddress]</td>
            <td>:</td>
            <td>[var.strInputEmergencyAddress]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsEmergencyPhone]</td>
            <td>:</td>
            <td>[var.strInputEmergencyPhone]</td>
          </tr>
          [var.strMoreContact]
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsWeight]</td>
            <td>:</td>
            <td>[var.strInputWeight]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsHeight]</td>
            <td>:</td>
            <td>[var.strInputHeight]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsBloodType]</td>
            <td>:</td>
            <td>[var.strInputBlood]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsIDCard]</td>
            <td>:</td>
            <td>[var.strInputIDCard]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsDriverLicenseA]</td>
            <td>:</td>
            <td>[var.strInputLicenseA]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsDriverLicenseB]</td>
            <td>:</td>
            <td>[var.strInputLicenseB]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsDriverLicenseC]</td>
            <td>:</td>
            <td>[var.strInputLicenseC]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsNationality]</td>
            <td>:</td>
            <td>[var.strInputNationality]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsPassport]</td>
            <td>:</td>
            <td>[var.strInputPassport]</td>
          </tr>
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsReligion]</td>
            <td>:</td>
            <td>[var.strInputReligion]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsEducationLevel]</td>
            <td>:</td>
            <td>[var.strInputEducation]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsWeddingDate]</td>
            <td>:</td>
            <td nowrap>[var.strInputWeddingDate]&nbsp; </td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsTransport]</td>
            <td>:</td>
            <td>[var.strInputTransport]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsTransportFee]</td>
            <td>:</td>
            <td>[var.strInputTransportFee]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsNote]</td>
            <td>:</td>
            <td>[var.strInputNote]</td>
          </tr>
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td width="20%" nowrap>&nbsp;[var.strWordsFamilyStatus]</td>
            <td width="5%">:</td>
            <td width="75%">[var.strInputFamilyStatus] </td>
          </tr>
          <tr valign="top">
            <td width="20%" nowrap>&nbsp;[var.strWordsLivingCostStatus]</td>
            <td width="5%">:</td>
            <td width="75%">[var.strInputLivingCost] </td>
          </tr>
          <tr valign="top">
            <td width="20%" nowrap>&nbsp;[var.strWordsMedicalQuotaStatus]</td>
            <td width="5%">:</td>
            <td width="75%">[var.strInputMedicalQuotaStatus] </td>
          </tr>          

        </table> </td>
      <td valign="top">
<table border="0" cellpadding="2" cellspacing="0">
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
<tr valign="top">
            <td width="20%" nowrap>&nbsp;[var.strWordsInspouse]</td>
            <td width="5%">:</td>
            <td width="75%">[var.strInputInspouse] </td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsCompany]</td>
            <td>:</td>
            <td>[var.strInputCompany]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsEmployeeStatus]</td>
            <td>:</td>
            <td>[var.strInputEmployeeStatus]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsSubsection]</td>
            <td>:</td>
            <td>[var.strInputSubSection]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsSection]</td>
            <td>:</td>
            <td>[var.strInputSection]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsDepartment]</td>
            <td>:</td>
            <td>[var.strInputDepartment]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsDivision]</td>
            <td>:</td>
            <td>[var.strInputDivision]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsManagement]</td>
            <td>:</td>
            <td>[var.strInputManagement]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBranch]</td>
            <td>:</td>
            <td>[var.strInputBranch]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsLevel]</td>
            <td>:</td>
            <td>[var.strInputPosition]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsFunctionalPosition]</td>
            <td>:</td>
            <td>[var.strInputFunctionalPosition]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsJobGrade]</td>
            <td>:</td>
            <td>[var.strInputSalaryGrade]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsActive]</td>
            <td>:</td>
            <td>[var.strInputActive]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsJoinDate]</td>
            <td>:</td>
            <td nowrap>[var.strInputJoinDate]&nbsp; </td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsPermanentDate]</td>
            <td>:</td>
            <td nowrap>[var.strInputPermanentDate]&nbsp;</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsFinishDate]</td>
            <td>:</td>
            <td nowrap>[var.strInputDueDate]&nbsp; </td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsResignDate]</td>
            <td>:</td>
            <td nowrap>[var.strInputResignDate]&nbsp; </td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsNPWP]</td>
            <td>:</td>
            <td>[var.strInputNPWP]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsJamsostekNo]</td>
            <td>:</td>
            <td>[var.strInputJamsostekNo]</td>
          </tr>
          <tr valign="top">
            <td nowrap> &nbsp;[var.strWordsZakat]</td>
            <td>:</td>
            <td>[var.strInputIsZakat]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBankCode] </td>
            <td>:</td>
            <td>[var.strInputBankCode]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBankBranch]</td>
            <td>:</td>
            <td>[var.strInputBankBranch]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBankAccountType] </td>
            <td>:</td>
            <td>[var.strInputBankAccountType]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBankAccount]</td>
            <td>:</td>
            <td>[var.strInputBankAccount]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBankAccountName]</td>
            <td>:</td>
            <td>[var.strInputBankAccountName]</td>
          </tr>
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBank2Code] </td>
            <td>:</td>
            <td>[var.strInputBank2Code]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBank2Branch]</td>
            <td>:</td>
            <td>[var.strInputBank2Branch]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBank2AccountType] </td>
            <td>:</td>
            <td>[var.strInputBank2AccountType]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBank2Account]</td>
            <td>:</td>
            <td>[var.strInputBank2Account]</td>
          </tr>
          <tr valign="top">
            <td nowrap>&nbsp;[var.strWordsBank2AccountName]</td>
            <td>:</td>
            <td>[var.strInputBank2AccountName]</td>
          </tr>
          <tr valign="top">
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table> </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="tableHeader"><strong>&nbsp;FAMILY DATA</strong></td>
  </tr>
  <tr>
    <td colspan="">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" cellpadding="1" cellspacing="0" class="gridTable">
        <tr class="tableHeader" align="center">
          <td nowrap="">No</td>
          <td nowrap="">Name</td>
          <td nowrap="">Sex</td>
          <td nowrap="">Age</td>
          <td nowrap="">Birthday</td>
          <td nowrap="">Relation</td>
        </tr>
        [var.strDataFamily]
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="tableHeader"><strong>&nbsp;EDUCATION DATA</strong></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" cellpadding="1" cellspacing="0" class="gridTable">
        <tr class="tableHeader" align="center">
          <td nowrap="">No</td>
          <td nowrap="">Level</td>
          <td nowrap="">Institution</td>
          <td nowrap="">Faculty</td>
          <td nowrap="">Location</td>
          <td nowrap="">Registration No.</td>
          <td nowrap="">Certificate No.</td>
          <td nowrap="">Periode</td>
          <td nowrap="">Note</td>
        </tr>
        [var.strDataEducation]
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="tableHeader"><strong>&nbsp;TRAINING DATA</strong></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" cellpadding="1" cellspacing="0" class="gridTable">
        <tr class="tableHeader" align="center">
          <td nowrap="">No</td>
          <td nowrap="">Subject</td>
          <td nowrap="">Institution</td>
          <td nowrap="">Location</td>
          <td nowrap="">Trainer</td>
          <td nowrap="">Periode</td>
          <td nowrap="">Cost</td>
          <td nowrap="">Note</td>
        </tr>
        [var.strDataTraining]
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2" class="tableHeader"><strong>&nbsp;WORK EXPERIENCE</strong></td>
  </tr>
  <tr>
    <td colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="2">
      <table border="0" cellpadding="1" cellspacing="0" class="gridTable">
        <tr class="tableHeader" align="center">
          <td nowrap="">No</td>
          <td nowrap="">Institution</td>
          <td nowrap="">Location</td>
          <td nowrap="">Position</td>
          <td nowrap="">Periode</td>
          <td nowrap="">Note</td>
        </tr>
        [var.strDataWork]
      </table>
    </td>
  </tr>
  
</table>
</html>