  <script language="JavaScript">
  <!--
  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;
    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for
  }//checkAll
  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("[var.strConfirmDelete]");
  } //confirmDelete

  // fungsi untuk inisialisasi
  function initPage_() {
    document.formInput.filterEmployeeID.focus();
  }//initPage


  // fungsi untuk menuju ke print page tertentu
  function printData(no) {
    if (no != "") {
      document.formInput.dataPage.value = no;
      document.formInput.btnPrint.click();
    }
  }//printData

  // fungsi untuk menuju ke page tertentu
  function goPage(no) {
    if (no != "") {
      document.formInput.dataPage.value = no;
      document.formInput.btnSearch.click();
    }
  }//goPage

  // fungsi untuk refresh halaman, dengan sorting tertentu
  function goSort(kolom) {
    if (kolom != "") {
      document.formInput.dataSort.value = kolom;
      document.formInput.btnSearch.click();
    }
  }//goSort
  -->
  </script>
  <script language="JavaScript" src="scripts/invosa.js">  </script>
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="left">&nbsp;</td>
    </tr>
    <tr>
      <td class="pageHeaderTitle" align="left">
      <table border="0" cellpadding="2" cellspacing="0">
        <tbody>
          <tr>
            <td width="30">&nbsp;</td>
            <td class="pageHeaderTitleText" nowrap="nowrap">&nbsp;Search
Employee Data</td>
          </tr>
        </tbody>
      </table>
      </td>
    </tr>
    <tr>
      <td>
      <table border="0" cellpadding="2" cellspacing="0">

        <tbody>

          <tr>

            <td width="30">&nbsp;</td>

            <td class="pageHeaderTitleText" nowrap="nowrap"><strong>Search Employee
            <!--| <a href="employee_driver.php">Non Staff</a>-->
            | <a href="employee_report.php">Report</a>
            | <a href="employee_resume_all.php">Simple Resume</a></strong></td>

          </tr>

        </tbody>
      </table>
      </td>

    </tr>

    <tr>
      <td></td>
    </tr>
    <tr>


    <td align="left" class="inputBox" style="[var.strSearchDisplay]">
      <form action="" method="post" name="formInput" id="formInput">
        <table width="700" border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td valign="top">
              <table align="left" border="0" cellpadding="1" cellspacing="0">
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td nowrap="nowrap" width="15%">&nbsp;Employee ID</td>
                    <td width="5%">:</td>
                    <td width="80%">[var.strInputFilterEmployeeID]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Name/Nick/Alias</td>
                    <td>:</td>
                    <td>[var.strInputFilterName]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Employee Status</td>
                    <td>:</td>
                    <td>[var.strInputFilterStatus]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Position</td>
                    <td>:</td>
                    <td>[var.strInputFilterPosition]</td>
                  </tr>
                  <tr>
                    <td>&nbsp;Function</td>
                    <td>:</td>
                    <td>[var.strInputFilterFunction]</td>
                  </tr>
                  <tr>
                    <td>&nbsp;Active</td>
                    <td>:</td>
                    <td>[var.strInputFilterActive]</td>
                  </tr>
                  <tr>
                    <td>&nbsp;
                      <input type=hidden name="dataPage" value=1> <input type=hidden name="dataSort" value="[var.strInputSortBy]"></td>
                    <td>&nbsp;</td>
                    <td nowrap> <input name="btnSearch" id="btnSearch" value="Search" type="submit" onClick="document.formInput.target = ''">
                      <input name="btnShowAll" id="btnShowAll" value="Show All" type="submit" onClick="document.formInput.target = ''">
                      <input name="btnExcel" type="submit" id="btnExcel" value="Export Excel" onClick="document.formInput.target = ''">
                    </td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                </tbody>
              </table></td>
            <td valign="top">
              <table align="left" border="0" cellpadding="1" cellspacing="0">
                <tbody>
                  <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td nowrap="nowrap" width="15%">&nbsp;Department</td>
                    <td width="5%">:</td>
                    <td width="80%">[var.strInputFilterDepartment]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Section</td>
                    <td>:</td>
                    <td>[var.strInputFilterSection]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Subsection</td>
                    <td>:</td>
                    <td>[var.strInputFilterSubsection]</td>
                  </tr>
                  <tr>
                    <td height="21" nowrap="nowrap"> &nbsp;Salary Grade</td>
                    <td>:</td>
                    <td>[var.strInputFilterGrade]</td>
                  </tr>
                  <tr>
                    <td>&nbsp;Full View</td>
                    <td>:</td>
                    <td>[var.strInputViewType]</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
        </form>

      </td>

    </tr>

    <tr>

      <td>&nbsp;</td>

    </tr>

    <tr>

      <td class="listTop"><strong>LIST OF EMPLOYEE</strong></td>

    </tr>

    <tr>

      <td>
      <form action="" method="post" name="formData" id="formData">
        <table class="gridTable" border="0" cellpadding="1" cellspacing="0">
          <tbody>
            <tr align="center" class="tableHeader">
              <td width="5" rowspan="2">&nbsp;</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader"><a href="javascript:goSort('employeeID')">EMPL.
                ID</a></td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader"><a href="javascript:goSort('employee_name')">EMPL.
                NAME</a></td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">NICK</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">SEX</td>
              <td colspan="4" nowrap="nowrap" class="tableHeader">ADDRESS 1</td>
              <td colspan="4" nowrap="nowrap" class="tableHeader">ADDRESS 2</td>
              <td rowspan="2" class="tableHeader">HOUSE STATUS</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">EMAIL</td>
              <td colspan="4" nowrap="nowrap" class="tableHeader">EMERGENCY CONTACT
                1 </td>
              <td colspan="4" nowrap="nowrap" class="tableHeader">EMERGENCY CONTACT
                II </td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">BIRTHPLACE</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">BIRTHDAY</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">AGE</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">WEIGHT</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">HEIGHT</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">BLOOD</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">ID CARD</td>
              <td colspan="3" nowrap="nowrap" class="tableHeader">DRIVING LICENSE</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">NATION.</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">PASSPORT</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">RELIGION</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">EDUCATION</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">MARITAL</td>
              <td rowspan="2" class="tableHeader">WEEDING DATE</td>
              <td colspan="12" nowrap="nowrap" class="tableHeader">WORK INFORMATION</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">JAMSOSTEK</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">KOPERASI</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">PUKFSPMI</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">INSURANCE</td>
              <td colspan="3" nowrap="nowrap" class="tableHeader">BANK ACCOUNT
                1 </td>
              <td colspan="3" nowrap="nowrap" class="tableHeader">BANK ACCOUNT
                2 </td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">NPWP</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">NOTE</td>
              <td width="19" rowspan="2">&nbsp;</td>
              <td width="19" rowspan="2" nowrap="">RECORD INFO</td>
            </tr>
            <tr class="tableHeader">
              <td align="center" nowrap="nowrap" class="tableHeader">ADDRESS</td>
              <td align="center" nowrap="nowrap" class="tableHeader">CITY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ZIP </td>
              <td align="center" nowrap="nowrap" class="tableHeader">PHONE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ADDRESS</td>
              <td align="center" nowrap="nowrap" class="tableHeader">CITY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ZIP</td>
              <td align="center" nowrap="nowrap" class="tableHeader">PHONE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">NAME</td>
              <td align="center" nowrap="nowrap" class="tableHeader">RELATION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ADDRESS</td>
              <td align="center" nowrap="nowrap" class="tableHeader">PHONE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">NAME</td>
              <td align="center" nowrap="nowrap" class="tableHeader">RELATION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ADDRESS</td>
              <td align="center" nowrap="nowrap" class="tableHeader">PHONE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">A</td>
              <td align="center" nowrap="nowrap" class="tableHeader">C</td>
              <td align="center" nowrap="nowrap" class="tableHeader">B</td>
              <td align="center" nowrap="nowrap" class="tableHeader">EMP. ST</td>
              <td align="center" nowrap="nowrap" class="tableHeader">SUBSECTION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">SECTION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">DEPARTMENT</td>
              <td align="center" nowrap="nowrap" class="tableHeader">POSITION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">FUNCTION</td>
              <td align="center" nowrap="nowrap" class="tableHeader">GRADE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">JOIN DATE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">FINISH DATE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">PERMANENT</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ACTIVE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">RESIGN</td>
              <td align="center" nowrap="nowrap" class="tableHeader">BANK</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ACC. NO</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ACC. NAME</td>
              <td align="center" nowrap="nowrap" class="tableHeader">BANK</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ACC. NO</td>
              <td align="center" nowrap="nowrap" class="tableHeader">ACC. NAME</td>
            </tr>
          [var.strDataDetail]
          <tr>
            <td><input name="chkAll" id="chkAll" value="checkbox" onclick="checkAll();" type="checkbox"></td>
            <td colspan="4" nowrap > <input name="btnDelete" id="btnDelete" value="Delete" onclick="return confirmDelete();" type="submit">
              <input name="totalData" id="totalData" value="[var.intTotalData]" type="hidden">
              [var.strBtnPrint] [var.strHidden] </td>
            <td colspan="60" align="center"><strong>[var.strPaging]</strong></td>
          </tr>
        </table>
      </form>
      </td>
    </tr>
  </tbody>
</table>