[var.pageHeader]
	<div class="main-content">
  	<div class="row">
  		<div class="col-md-12">
				[var.formInput;protect=no;htmlconv=no]  			
  		</div>
  		<div class="col-md-12">
  			<div class="panel">
					<div class="panel-heading">
						<div class="panel-actions">
							<div class="pull-right" id="collapse-filter">
						  	<a href="#" data-toggle="collapse" data-target="#list-panel"><i class="fa fa-chevron-circle-down bigger-130"></i></a>
						  </div>
						</div>
						<h3 class="panel-title">LIST ADDITIONAL LEAVE BY REQUEST </h3>
					</div>
					<div id="list-panel" class="panel-body collapse in">
						[var.DataGrid;protect=no;htmlconv=no]
					</div>
				</div>
  		</div>
  	</div>
  </div>
<script type="text/javascript">
	var myClient = {
    editData : function(idx)
    {
      $('formMessage').style.visibility = 'hidden';
      if (idx == 0)
      { 
	  //reset data
	  $('note').value="";
	  $('expired_date').value = "";	  
	  $('id_employee').value = "";
	  $('add_quota').value = "";
      }
      else if (idx != '')
      {
		//bolChecked  = ($("detailQuota" + idx).value == "t");
	  
		$('dataID').value = $F("detailID" + idx);
        $('expired_date').value = $F("detailValidDate" + idx);
        $('id_employee').value = $F("detailEmployee" + idx);
        $('note').value = $F("detailNote" + idx);
        $('add_quota').value = $F("detailQuota" + idx);
      }
      $('dataID').focus();
      $('dataID').select();
	  
    },
    
    confirmDelete : function()
    {
      return confirm('[var.strConfirmDelete]');
    },
    
    confirmSave : function()
    {
      return confirm('[var.strConfirmSave]');
    }
  }
</script>