<!--template surat untuk surat penolakan calon karyawan-->
<p>
[var.strDate]
</p>
<p>&nbsp;</p>
<p>
<strong>Yang terhormat<br>
[var.strDataName]<br>
[var.strDataAddress]
</strong>
</p>
<p>&nbsp;</p>
<p>Dengan hormat,</p>
<p><strong>Perihal: Hasil Seleksi Saudara</strong></p>
<p>&nbsp;</p>
<p>Kami mengucapkan terima kasih atas kesediaan Saudara mengikuti seleksi calon karyawan yang diadakan beberapa waktu yang lalu. Sehubungan degnan hal tersebut dan berdasarkan hasil wawancara dan tes, dengan ini kami sampaikan bahwa kualifikasi yang Saudara miliki belum sesuai dengan yang kami butuhkan saat ini.</p>
<p>Namun demikian, semua berkas saudara kami dokumentasikan dalam "Candidates Database" yang kami miliki untuk suatu waktu kami butuhkan akan kami proses kembali.</p>
<p>Demikian kami sampaikan, atas perhatian dan partisipasi Saudara kami ucapkan terima kasih</p>
<p>&nbsp;</p>
<p>Hormat kami,</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br>HRD Group Head</p>