<!--template surat untuk surat penolakan calon karyawan-->
<p>
[var.strDate]
</p>
<p>&nbsp;</p>
<p>
<strong>Yang terhormat<br>
</strong>
</p>
<p>&nbsp;</p>
<p>Dengan hormat,</p>
<p><strong>Perihal: </strong></p>
<p>&nbsp;</p>
<p>Sehubungan dengan proses rekruitmen karyawan baru di perusahaan kami, mohon dilakukan pemeriksaan psikologi pada [tanggal] bagi calon karyawan sebagai berikut:</p>
<blockquote>
  Nama: [var.strDataName]<br>
  Alamat : [var.strDataAddress]<br>
  Posisi :
</blockquote>
<p>Perlu kami informasikan bahwa "Scope of Work" untuk posisi-posisi dimaksud kami sampaikan dalam lampiran tersendiri.</p>
<p>Demikian kami sampaikan, terima kasih atas perhatian dan kerjasamanya.</p>
<p>&nbsp;</p>
<p>Hormat kami,</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p><br>HRD Group Head</p>