
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tbody>

    <tr>
      <td class="listTop"><strong>LIST OF EMPLOYEE LOAN [var.strInfo]</strong></td>
    </tr>
    <tr>
      <td>
      <form action="" method="post" name="formData" id="formData">
        <table class="gridTable" border="0" cellpadding="0"
 cellspacing="0">
          <tbody>
            <tr class="tableHeader" align="center">
              <td class="tableHeader" nowrap="nowrap" width="5">&nbsp;</td>
              <td class="tableHeader" nowrap="nowrap"> EMPL. ID</td>
              <td class="tableHeader" nowrap="nowrap">NAME</td>
              <td class="tableHeader" nowrap="nowrap">POSITION</td>
              <td class="tableHeader" nowrap="nowrap">SECT.</td>
              <td class="tableHeader" nowrap="nowrap">SUBSECT.</td>
              <td class="tableHeader" nowrap="nowrap">ACTIVE</td>
              <td class="tableHeader" nowrap="nowrap">LOAN DATE</td>
              <td class="tableHeader" nowrap="nowrap">TYPE</td>
              <td class="tableHeader" nowrap="nowrap">AMOUNT</td>
              <td class="tableHeader" nowrap="nowrap">INTEREST</td>
              <td class="tableHeader" nowrap="nowrap">PERIODE</td>
              <td class="tableHeader" nowrap="nowrap">MONTHLY <br>
PAYMENT</td>
              <td class="tableHeader" nowrap="nowrap">START<br>
PAYMENT </td>
              <td class="tableHeader" nowrap="nowrap">FINISH<br>
PAYMENT </td>
              <td class="tableHeader" nowrap="nowrap">PAID</td>
              <td class="tableHeader" nowrap="nowrap">NOTE</td>
              <td class="tableHeader" nowrap="nowrap" width="20">&nbsp;</td>
            </tr>
[var.strDataDetail] <tr>
              <td> &nbsp;</td>
              <td colspan="17">  &nbsp; </td>
            </tr>
          </tbody>
        </table>
      </form>
      </td>
    </tr>
  </tbody>
</table>