<script src="scripts/invosa.js"></script>

<script>
	<!--
	// fungsi memeriksa validasi input
	function validInput() {
		
		return validateForm(document.formData);
	} //validInput
	
  // fungsi untuk minta konfirmasi delete
  function confirmCancel() {
    bolOK = confirm("Are you sure want to cancel?");
    if (bolOK) {
      location.href = "medicalList.php";
    }
    return bolOK;
  } //confirmDelete
  
	// fungsi untuk inisialisasi
	function initPage() {
		
	}//initPage
	-->
</script>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr> 
    <td align="left">&nbsp;</td>
  </tr>
  <tr> 
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strWordsMedicalDataDenied]</td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr> 
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap>&nbsp;<strong><a href="medicalEdit.php">[var.strWordsInputMedicalClaim]</a> 
            | <a href="medicalList.php">[var.strWordsMedicalClaimList]</a> | <a href="medicalQuota.php">[var.strWordsEmployeeMedicalQuota]</a></strong></td>
        </tr>
      </table></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
  <tr> 
    <td><strong>[var.strWordsLISTOFEMPLOYEEMEDICALCLAIM] [var.strInfo]</strong></td>
  </tr>
  <tr> 
    <td><form action="" method="post" name="formData" id="formData" onSubmit="return validInput()">
        <table border="0" cellpadding="0" cellspacing="0" class="gridTable">
          <tr align="center" class="tableHeader"> 
            <td width="5" nowrap class="tableHeader">&nbsp;</td>
            <td nowrap class="tableHeader">[var.strWordsEMPLID]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsGENDER]</td>
            <td nowrap class="tableHeader">[var.strWordsPOSITION]</td>
            <td nowrap class="tableHeader">[var.strWordsDEPT]</td>
            <td nowrap class="tableHeader">[var.strWordsFORMNO]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsRELATION]</td>
            <td nowrap class="tableHeader">[var.strWordsTYPE]</td>
            <td nowrap class="tableHeader">[var.strWordsCODE]</td>
            <td nowrap class="tableHeader">[var.strWordsTREATMENTDISEASE]</td>
            <td nowrap class="tableHeader">[var.strWordsMEDDATE]</td>
            <td nowrap class="tableHeader">[var.strWordsCLAIMDATE]</td>
            <td nowrap class="tableHeader">[var.strWordsCOST]</td>
            <td nowrap class="tableHeader">[var.strWordsAPVCOST]</td>
            <td nowrap class="tableHeader">[var.strWordsSTATUS]</td>
            <td nowrap class="tableHeader">[var.strWordsPAYMENTREQUEST]</td>
          </tr>
          [var.strDataDetail] 
          <tr> 
            <td>&nbsp; </td>
            <td colspan="17"> 
            <input name="btnSave" type="submit" value="[var.strWordsSave]">
            <input name="btnCancel" type="button" value="[var.strWordsCancel]" onClick="return confirmCancel();">
              [var.strButtonList] 
              <input name="totalData" type="hidden" id="totalData" value="[var.intTotalData]">
              [var.strHidden] &nbsp; </td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
 
</table>
