<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>


  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">

  <link type="text/css" rel="stylesheet" href="[var.strPrintCss]">

  <script type="text/javascript">
  <!--
	
  // fungsi untuk inisialisasi
  function initPage() {
    [var.strPrintInit]
  }//initPage
  -->
  </script>
  <style>
    [onload;file=[var.strStyle];noerr]
  </style>
</head>


<body leftmargin="10" topmargin="0" onLoad="initPage();" marginheight="0" marginwidth="10">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr> 
    <td align="left">&nbsp;</td>
  </tr>
  <tr> 
    <td></td>
  </tr>
  <tr> 
    <td align="left">&nbsp;</td>
  </tr>
  <tr> 
    <td><strong>[var.strWordsLISTOFEMPLOYEEMEDICALCLAIM] [var.strInfo]</strong></td>
  </tr>
  <tr> 
    <td><form action="" method="post" name="formData" id="formData">
        <table border="0" cellpadding="0" cellspacing="0" class="gridTable">
          <tr align="center" class="tableHeader"> 
            
            
            <td nowrap class="tableHeader">[var.strWordsEMPLID]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsGENDER]</td>
            <td nowrap class="tableHeader">[var.strWordsDEPT]</td>
			<td nowrap class="tableHeader">[var.strWordsBranch]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsRELATION]</td>
            <td nowrap class="tableHeader">[var.strWordsTYPE]</td>
            <td nowrap class="tableHeader">[var.strWordsCODE]</td>
            <td nowrap class="tableHeader">[var.strWordsTREATMENTDISEASE]</td>
			<td nowrap class="tableHeader">[var.strWordsMedicine]</td>
            <td nowrap class="tableHeader">[var.strWordsMEDDATE]</td>
            <td nowrap class="tableHeader">[var.strWordsMEDDATETHRU]</td>
            <td nowrap class="tableHeader">[var.strWordsCLAIMDATE]</td>
            <td nowrap class="tableHeader">[var.strWordsCOST]</td>
            <td nowrap class="tableHeader">[var.strWordsAPVCOST]</td>
            <td nowrap class="tableHeader">[var.strWordsSTATUS]</td>
          </tr>
          [var.strDataDetail] 
        </table>
      </form></td>
  </tr>
  <tr> 
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>