<script src="scripts/calendar.js"></script>
<script src="scripts/calendar-en.js"></script>
<link href="../css/calendar.css" rel="stylesheet" type="text/css">
<script src="scripts/acEmployee.js"></script>
<script src="scripts/ylib.js"></script>
<script src="employee_data.php"></script>
<link href="../css/ac.css" rel="stylesheet" type="text/css">
<script>
  // script-script tambahan, khusus untu loockup employee

  AC_targetElements = ["dataEmployee"];

  // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
  // kehilangan fokus.
  function onCodeBlur() {
    var kode = document.formInput.dataEmployee.value;
    var nama = AC_getNameByCode(kode);
    var obj = document.getElementById("employee_name");
    obj.innerHTML = nama;
    return 1;
  }
</script>
<script>
  <!--
  // fungsi memeriksa validasi input
  function validInput() {
    if (document.formInput.dataDateFrom.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateFrom.focus();
      return false;
    }
    if (document.formInput.dataDateThru.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateThru.focus();
      return false;
    }

    return true;
  } //validInput

  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("[var.strConfirmDelete]");
  } //confirmDelete

  // fungsi untuk minta konfirmasi perubahan status
  function confirmChanges() {
    return confirm("[var.strConfirmChangeStatus]");
  } //confirmDelete

  // fungsi untuk minta konfirmasi perubahan status
  function confirmStatusChanges() {
    return confirm("[var.strConfirmChangeStatus]");
  } //confirmStatusChanges

  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;

    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for

  }//checkAll
function setHiddenChk(obj, objName, objChecked)
{
  if (objChecked)
  {
    obj.value = "t";
    eval("document.formData." + objName + ".value = 't'");
  }
  else
  {
    obj.value = "f";
    eval("document.formData." + objName + ".value = 'f'");
  }
}

  // fungsi untuk inisialisasi
  function initPage_() {
    document.formInput.dataDateFrom.focus();
    Calendar.setup({ inputField:"dataDateFrom", button:"btnDateFrom" });
    Calendar.setup({ inputField:"dataDateThru", button:"btnDateThru" });
    init();
    onCodeBlur();
  }//initPage
  -->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td class="pageHeaderTitleText" nowrap>[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30">&nbsp;</td>
          <td nowrap><strong>
            <a href="mutation_edit.php">Proposal Entry</a> | 
            Proposal List</strong>
          </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr valign="top">
    <td class="inputTop">[var.strWordsINPUTDATA]</td>
  </tr>  
  <tr>
    <td valign="top" class="inputBox"> <form action="" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsDateFrom]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateFrom]&nbsp; <input name="btnDateFrom" type="button" id="btnDateFrom" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDateThru]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateThru]&nbsp; <input name="btnDateThru" type="button" id="btnDateThru" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsRequestStatus]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputRequestStatus]</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsEmployeeID]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputEmployee]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td><strong id="employee_name">
                    </strong></td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td> 
                  </td>
                </tr>
              </table></td>
            <td width="20" valign="top">&nbsp;</td>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsCompany]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputCompany]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDivision]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDivision]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDepartment]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDepartment]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strWordsSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSection]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strWordsSubSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSubSection]</td>
                </tr>
              </table></td>            <td width="20" valign="top">&nbsp;</td>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strInputShowStatus]</td>
                  <td align="center">&nbsp;</td>
                  <td nowrap>[var.strWordsStatusChanges]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strInputShowPosition]</td>
                  <td align="center">&nbsp;</td>
                  <td nowrap>[var.strWordsGradeChanges]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strInputShowDepartment]</td>
                  <td align="center">&nbsp;</td>
                  <td nowrap>[var.strWordsDepartmentChanges]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strInputShowSalary]</td>
                  <td></td>
                  <td>[var.strWordsSalaryChanges]</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td valign="top" colspan=3>&nbsp;
               <input name="btnShow" type="submit" id="btnShow" value="Show Data" onclick="document.formInput.target=''">
               <input name="btnExcel" id="btnExcel" value="Excel" type="submit" onClick="document.formInput.target = ''">
               <input name="btnPrint" type="submit" id="btnPrint" value="Print" onclick="document.formInput.target='_blank'">
               <input name="btnPrintStatus" type="submit" id="btnPrintStatus" value="Print Status Changes" onclick="document.formInput.target='_blank'">
               <input name="btnPrintPosition" type="submit" id="btnPrintPosition" value="Print Grade Changes" onclick="document.formInput.target='_blank'">
               <input name="btnPrintDepartment" type="submit" id="btnPrintDepartment" value="Print Department Changes" onclick="document.formInput.target='_blank'">
			   <input name="btnPrintSalary" type="submit" id="btnPrintSalary" value="Print Salary Changes" onclick="document.formInput.target='_blank'">
            </td>
          </tr>

          
          <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="listTop"><strong>[var.strWordsListOf] [var.strPageTitle] [var.strInfo]</strong></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="formData" id="formData">
        <table border="0" cellpadding="0" cellspacing="0" class="gridTable">
          <tr align="center" class="tableHeader">
            <td width="5" rowspan="2" nowrap class="tableHeader">&nbsp;</td>
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsProposalDate]</td>
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsLetterCode]</td>
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsEmployeeID]</td>
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsName]</td>
            [var.strHeader1]
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsNote]</td>
            <td rowspan="2" nowrap class="tableHeader">[var.strWordsStatus]</td>
            [var.strHeaderEdit]
          </tr>
          [var.strHeader2]
          [var.strDataDetail]
          <tr>
            <td> <input name="chkAll" type="checkbox" id="chkAll" value="All" onClick="checkAll();">
            </td>
            <td colspan="30"> &nbsp;
              [var.strButtons]
              <input name="totalData" type="hidden" id="totalData" value="[var.intTotalData]">
              [var.strHidden] &nbsp; </td>
          </tr>
        </table>
      </form></td>
  </tr>
</table>