
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr id="[blkdata.id;block=table]">
	 <td><table width="100%" border="0" cellspacing="5" cellpadding="1">
        <tr> 
          <td align="center"> <table width="50%" border="0" cellpadding="1" cellspacing="0" class="gridTable">
              <tr> 
                <td align="center"><h3>SLIP GAJI</h3></td>
              </tr>
              <tr> 
                <td align="center">[var.stremployee_name]</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellpadding="3" cellspacing="0" class="gridTable">
              <tr> 
                <td><table width="100%" border="0" cellpadding="2" cellspacing="0" class="noGridTable">
                    <tr> 
                      <td width="30%">NAMA</td>
                      <td width="10%">:</td>
                      <td nowrap>[var.stremployee_name]</td>
                    </tr>
                    <tr> 
                      <td>NIK</td>
                      <td>:</td>
                      <td nowrap>[var.stremployee_id]</td>
                    </tr>
                    <tr> 
                      <td>GOLONGAN</td>
                      <td>:</td>
                      <td nowrap>[var.strGradeCode]</td>
                    </tr>
                  </table></td>
                <td width="50%"><table width="100%" border="0" cellpadding="2" cellspacing="0" class="noGridTable">
                    <tr> 
                      <td width="30%">DEPT.</td>
                      <td width="10%">:</td>
                      <td nowrap>[var.strDepartmentName]</td>
                    </tr>
                    <tr> 
                      <td>BAGIAN</td>
                      <td>:</td>
                      <td nowrap>[var.strSectionName]</td>
                    </tr>
                    <tr> 
                      <td>POSISI</td>
                      <td>:</td>
                      <td nowrap>[var.strPositionName]</td>
                    </tr>
                  </table></td>
              </tr>
              <tr> 
                <td valign="top"> <table width="100%" border="0" cellpadding="1" cellspacing="0" class="noGridTable">
                    <tr> 
                      <td width="60%" nowrap>Total hari kerja</td>
                      <td width="5%">:</td>
                      <td nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap>Lama Lembur hari kerja</td>
                      <td>:</td>
                      <td nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap>Lama lembur hari libur</td>
                      <td>:</td>
                      <td nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap>Upah lembur/jam</td>
                      <td>:</td>
                      <td nowrap>&nbsp;</td>
                    </tr>
                  </table></td>
                <td valign="top"><table width="100%" border="0" cellpadding="1" cellspacing="0" class="noGridTable">
                    <tr> 
                      <td>Hadir</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                      <td>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td>Sakit</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                      <td>&nbsp;</td>
                      <td>Cuti</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                    </tr>
                    <tr> 
                      <td>Izin</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                      <td>&nbsp;</td>
                      <td>Cuti haid</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                    </tr>
                    <tr> 
                      <td>Absen</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                      <td>&nbsp;</td>
                      <td>Lain-lain</td>
                      <td>:</td>
                      <td>&nbsp;</td>
                      <td>hari</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellpadding="3" cellspacing="0" class="gridTable">
              <tr> 
                <td width="50%" valign="top"> <table width="100%" border="0" cellpadding="1" cellspacing="0" class="noGridTable">
                    <tr align="center"> 
                      <td colspan="4"><strong><u>PENDAPATAN</u></strong></td>
                    </tr>
                    <tr> 
                      <td nowrap>GAJI POKOK</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strBasicSalary]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PENYUMBANGAN</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowContribution]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. STRUKTURAL</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowStructural]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. KELUARGA</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowFamily]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. MAKAN SIANG</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowLunch]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. MAKAN MALAM</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowDinner]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. TRANSPORT</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowTransport]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. TRANSPORT LEMBUR</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowOTTransport]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. KEHADIRAN</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowAttendance]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. LEMBUR HARI KERJA</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowOTNormal]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. LEMBUR HARI LIBUR</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowOTHoliday]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. SHIFT</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowShift]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. KEMAMPUAN KHUSUS</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowSpecial]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. LAIN-LAIN</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowOther]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PAJAK PPH21</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strTax]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PENYESUAIAN (+)</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAdjustmentPlus]</td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td align="right" nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap><strong>GAJI KOTOR</strong></td>
                      <td nowrap><strong>:</strong></td>
                      <td nowrap><strong>Rp</strong></td>
                      <td align="right" nowrap><strong>[var.strGrossSalary]</strong></td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td align="right" nowrap>&nbsp;</td>
                    </tr>
                  </table></td>
                <td valign="top"><table width="100%" border="0" cellpadding="1" cellspacing="0" class="noGridTable">
                    <tr align="center"> 
                      <td colspan="4"><strong><u>POTONGAN</u></strong></td>
                    </tr>
                    <tr> 
                      <td nowrap>IURAN JAMSOSTEK</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strJamsostek]</td>
                    </tr>
                    <tr> 
                      <td nowrap>POT. MAKAN SIANG</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strDeducLunch]</td>
                    </tr>
                    <tr> 
                      <td nowrap>POT. HARI KERJA</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strDeducAttendance]</td>
                    </tr>
                    <tr> 
                      <td nowrap>POT. PAJAK PPH21</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strTax]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PENYESUAIAN (-)</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAdjustmentMinus]</td>
                    </tr>
                    <tr> 
                      <td nowrap>PINJAMAN KARYAWAN</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strLoan]</td>
                    </tr>
                    <tr> 
                      <td nowrap>SIMP. WAJIB KOPERASI</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strKoperasi]</td>
                    </tr>
                    <tr> 
                      <td nowrap>IURAN PUK SPEE FSPMI</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strFSPMI]</td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp; </td>
                      <td nowrap>&nbsp; </td>
                      <td nowrap>&nbsp; </td>
                      <td align="right" nowrap>&nbsp; </td>
                    </tr>
                    <tr> 
                      <td nowrap><strong>TOTAL POTONGAN</strong></td>
                      <td nowrap><strong> :</strong></td>
                      <td nowrap><strong>Rp</strong></td>
                      <td align="right" nowrap><strong>[var.strTotalDeduction]</strong></td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp; </td>
                      <td nowrap>&nbsp; </td>
                      <td nowrap>&nbsp; </td>
                      <td align="right" nowrap>&nbsp; </td>
                    </tr>
                    <tr> 
                      <td nowrap><strong><u>CATATAN: GAJI POKOK</u></strong></td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td align="right" nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap>UPAH KERJA</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strWorkWage]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PENGALAMAN</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowExperience]</td>
                    </tr>
                    <tr> 
                      <td nowrap>TUNJ. PENYESUAIAN GAJI</td>
                      <td nowrap>:</td>
                      <td nowrap>Rp</td>
                      <td align="right" nowrap>[var.strAllowAdjustment]</td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td align="right" nowrap>&nbsp;</td>
                    </tr>
                    <tr> 
                      <td nowrap><strong>TOTAL</strong></td>
                      <td nowrap><strong>:</strong></td>
                      <td nowrap><strong>Rp</strong></td>
                      <td align="right" nowrap><strong>[var.strBasicSalary]</strong></td>
                    </tr>
                    <tr> 
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td nowrap>&nbsp;</td>
                      <td align="right" nowrap>&nbsp;</td>
                    </tr>
                  </table></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td><table width="100%" border="0" cellpadding="3" cellspacing="0" class="gridTable">
              <tr> 
                <td><strong>PENERIMAAN BERSIH&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;Rp 
                  [var.strNetSalary]</strong></td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td align="right"> <table width="30%" border="0" cellspacing="0" cellpadding="1">
              <tr> 
                <td align="center" nowrap>Penanggung jawab<br>
                  Bekasi, [var.strNow]</td>
              </tr>
            </table></td>
        </tr>
        <tr> 
          <td align="right">&nbsp;</td>
        </tr>
        <tr> 
          <td align="right"><table width="30%" border="0" cellspacing="0" cellpadding="1">
              <tr> 
                <td align="center" nowrap>Bagian personalia</td>
              </tr>
            </table></td>
        </tr>
      </table></td>
	 </tr>
</table>