<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>


  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">

  <link type="text/css" rel="stylesheet" href="[var.strPrintCss]">
  <script src="scripts/acEmployee.js"></script>
  <script src="scripts/ylib.js"></script>
  <script src="employee_data.php"></script>
  <script>
    // script-script tambahan, khusus untu loockup employee

    AC_targetElements = ["filterEmployeeID"];

    // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
    // kehilangan fokus.
    function onCodeBlur() {
      var kode = document.formInput.filterEmployeeID.value;
      var nama = AC_getNameByCode(kode);
      var obj = document.getElementById("employee_name");
      obj.innerHTML = nama;
      return 1;
    }
  </script>

  <script>
  <!--
  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;
    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for
  }//checkAll

  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("[var.strConfirmDelete]");
  } //confirmDelete

   // fungsi untuk minta konfirmasi save
  function confirmSave() {
    return confirm("Save data for current year should only be done at the end of periode. Are you sure?");
  } //confirmSave

  // fungsi untuk inisialisasi
  function initPage_() {
    init();
    onCodeBlur();
    document.formInput.filterEmployeeID.focus();
  }//initPage


  // fungsi untuk menuju ke print page tertentu
  function printData(no) {
    if (no != "") {
      document.formInput.dataPage.value = no;
      document.formInput.btnPrint.click();
    }
  }//printData

  // fungsi untuk menuju ke page tertentu
  function goPage(no) {
    if (no != "") {
      document.formInput.dataPage.value = no;
      document.formInput.btnShow.click();
    }
  }//goPage
  -->
  </script>

</head>


<body leftmargin="10" topmargin="0" onload="initPage_();" marginheight="0" marginwidth="10">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="pageHeaderTitle" align="left"> <table border="0" cellpadding="2" cellspacing="0">
        <tbody>
          <tr>
            <td width="30">&nbsp;</td>
            <td class="pageHeaderTitleText" nowrap="nowrap">&nbsp;Salary Data</td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td class="listTop"><strong>LIST OF EMPLOYEE TAX (PPH 21) [var.strYear]<br></strong></td>
  </tr>
  <tr>
    <td> <form action="" method="post" name="formData" id="formData">
        <table class="gridTable" border="0" cellpadding="1" cellspacing="0" width="100%">
          <tbody>
            <tr class="tableHeader">
              <td rowspan="2" nowrap="nowrap" class="tableHeader"> EMPL. ID</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">EMPL. NAME</td>
              <td rowspan="2" nowrap="nowrap" class="tableHeader">SEX</td>
              <td colspan="13" align="center" nowrap="nowrap" class="tableHeader">TAX (Pph 21) [var.strYear]</td>
            </tr>
            <tr class="tableHeader">
              <td align="center" nowrap="nowrap" class="tableHeader">JANUARY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">FEBRUARY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">MARCH</td>
              <td align="center" nowrap="nowrap" class="tableHeader">APRIL</td>
              <td align="center" nowrap="nowrap" class="tableHeader">MAY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">JUNE</td>
              <td align="center" nowrap="nowrap" class="tableHeader">JULY</td>
              <td align="center" nowrap="nowrap" class="tableHeader">AUGUST</td>
              <td align="center" nowrap="nowrap" class="tableHeader">SEPTEMBER</td>
              <td align="center" nowrap="nowrap" class="tableHeader">OCTOBER</td>
              <td align="center" nowrap="nowrap" class="tableHeader">NOVEMBER</td>
              <td align="center" nowrap="nowrap" class="tableHeader">DECEMBER</td>
              <td align="center" nowrap="nowrap" class="tableHeader">TOTAL</td>
            </tr>
          [var.strDataDetail]
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">[var.strCopyright]</td>
  </tr></tbody>
</table>

</body>
</html>
