<script type="text/javascript" src="../js/calendar.js"></script>
<script type="text/javascript" src="../js/calendar-en.js"></script>
<script type="text/javascript" src="../js/invosa.js"></script>
<link href="../css/calendar.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/acEmployee.js"></script>
<script type="text/javascript" src="../js/ylib.js"></script>
<script type="text/javascript" src="employee_data.php"></script>
<link href="../css/ac.css" rel="stylesheet" type="text/css">
<script src="division_js.php"></script>
<script type="text/javascript">
  // script-script tambahan, khusus untu loockup employee

  AC_targetElements = ["dataEmployee"];

  // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
  // kehilangan fokus.
  function onCodeBlur() {
    var kode = document.formInput.dataEmployee.value;
    var nama = AC_getNameByCode(kode);
    var obj = document.getElementById("employee_name");
    obj.innerHTML = nama;
    return 1;
  }
</script>
<script type="text/javascript">
  <!--
  
  // fungsi memeriksa validasi input
  function validInput() {
    if (document.formInput.dataDateFrom.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateFrom.focus();
      return false;
    }
    
    if (document.formInput.dataDateThru.value == "") {
      alert("Empty Date!");
      document.formInput.dataDateThru.focus();
      return false;
    }
    
    if (dateCompare(document.formInput.dataDateFrom.value, document.formInput.dataDateThru.value) > 0)
    {
      alert("Error : date from bigger than date thru");
      document.formInput.dataDateThru.focus();
      return false;
    }

    return true;
  } //validInput
  
  // fungsi untuk minta konfirmasi delete
  function confirmDelete() {
    return confirm("Are you sure want to delete selected data?");
  } //confirmDelete

  // fungsi untuk minta konfirmasi perubahan status
  function confirmChanges() {
    return confirm("Are you sure want to change status of selected data?");
  } //confirmDelete

  // fungsi untuk minta konfirmasi perubahan status
  function confirmStatusChanges() {
    return confirm("Are you sure want to change status of selected data?");
  } //confirmStatusChanges

  // fungsi untuk menngecek atau menguncheck checkbox
  function checkAll() {
    var intData = document.formData.totalData.value;
    var isChecked = document.formData.chkAll.checked;

    for (i = 1; i <= intData; i++) {
      if (isChecked) {
        eval("document.formData.chkID" + i + ".checked = true");
      } else {
        eval("document.formData.chkID" + i + ".checked = false");
      }
    } //for

  }//checkAll

  // fungsi untuk inisialisasi
  function initPage_() {
    document.formInput.dataDateFrom.focus();
    Calendar.setup({ inputField:"dataDateFrom", button:"btnDateFrom" });
    Calendar.setup({ inputField:"dataDateThru", button:"btnDateThru" });
    init();
    onCodeBlur();
    initDiv("", "dataDepartment", "dataSection", "", "");
  }//initPage
  -->
</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td width="20" class="blank">&nbsp;</td>
          <td nowrap class="pageHeaderTitleText">&nbsp;[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td width="20" class="blank">&nbsp;</td>
            <td nowrap>&nbsp;
              <strong>
                <a href="salary_changes_edit.php">[var.strWordsEntry]</a> | 
                [var.strWordsList]
              </strong>
            </td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="inputTop">[var.strWordsFILTERDATA]</td>
  </tr>
  <tr>
    <td valign="top" class="inputBox"> 
      <form action="" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsDateFrom]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateFrom]&nbsp; <input name="btnDateFrom" type="button" id="btnDateFrom" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDateThru]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDateThru]&nbsp; <input name="btnDateThru" type="button" id="btnDateThru" value=".."></td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;[var.strWordsEmployeeID]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputEmployee]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td><strong id="employee_name">
                    </strong></td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td> <input name="btnShow" type="submit" id="btnShow" value="Show Data" onclick="document.formInput.target=''">
                  </td>
                </tr>
              </table></td>
            <td width="20" valign="top">&nbsp;</td>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr>
                  <td>&nbsp;</td>
                  <td width="15" align="center">&nbsp;</td>
                  <td>&nbsp;</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsCompany]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputCompany]</td>
                </tr>
                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDivision]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDivision]</td>
                </tr>                <tr valign="top">
                  <td nowrap> &nbsp;[var.strWordsDepartment]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputDepartment]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strWordsSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSection]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;[var.strWordsSubSection]</td>
                  <td align="center">:</td>
                  <td nowrap>[var.strInputSubSection]</td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp; </td>
                </tr>
                <tr valign="top">
                  <td>&nbsp;</td>
                  <td align="center">&nbsp;</td>
                  <td>&nbsp; </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
            <td valign="top">&nbsp;</td>
          </tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td class="listTop"><strong>[var.strWordsLISTOFEMPLOYEERESIGNPROPOSAL] [var.strInfo]</strong></td>
  </tr>
  <tr>
    <td>
      <form action="" method="post" name="formData" id="formData">
          [var.strDataDetail]
      </form>
    </td>
  </tr>
</table>
