<script src="scripts/ylib.js"></script>
<script src="scripts/invosa.js"></script>
<script>
  <!--
  //fungsi untuk memeriksa apakah input valid
  function validInput() {
      var x = confirm("Are you sure?");
      if(x)
        return validateForm(document.formData);
      else
          return false;
  }//validInput

  -->
</script>
<script>
  // menampilkan tampilan yang hilang
  function moreInput(tipe) {
    var x = parseFloat(eval("document.formData.numShow"+tipe+".value")) + 1;
    var max = parseFloat(eval("document.formData.maxDetail"+tipe+".value"));
  
    if (x <= max) {
      var tmp = "detailData" + tipe + "_" + x;
      var obj = document.getElementById(tmp);
      obj.style.display = document.all ? "block" : "table-row";

      eval("document.formData.dataSeq"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataCode"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataName"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataAmount"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataActive"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataShow"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataProrate"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataOT"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataTax"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataHidezero"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataDaily"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataJams"+tipe+"_"+x+".disabled = false");
      eval("document.formData.numShow"+tipe+".value++");
      eval("document.formData.dataBen"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataIr"+tipe+"_"+x+".disabled = false");
      eval("document.formData.dataNum"+tipe+"_"+x+".disabled = false");
    }
  }//moreInput

  // fungsi saat kode tunjangan/potongan berubah, otomatis mengubah nama
  function changeCode(tipe,index) {
    if (tipe != "" && index != "") {
      eval("document.formData.dataName"+tipe+"_"+index+".value=document.formData.dataCode"+tipe+"_"+index+".value");
    }
  }//changeCode

</script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"></td>
          <td nowrap><strong>
            [var.strWordsGeneralSetting] |
            <a href="salary_set.php">[var.strWordsSalarySet] </a>| 
            <a href="salary_basic.php">[var.strWordsEmployeeAllowance] </a>| 
            <a href="salary_deduction.php">[var.strWordsEmployeeDeduction]</a></strong></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td  [var.strMsgClass] align="center">[var.strMessages]</td>
  </tr>
  <tr>
    <td>
      <form action="" method="post" name="formData" id="formData" onSubmit="return validInput()">
        <table border="0" cellpadding="2" cellspacing="0">
          <tr>
            <td width="20" nowrap>&nbsp;</td>
          
            <td><strong><font color="red" style="text-transform: uppercase;">[var.strCurrentActiveTemplate]</font></strong></td>
          </tr>
          <tr>
            <td width="20" nowrap>&nbsp;</td>
            <td><strong>[var.strWordsCommonSetting]</strong></td>
          </tr>
          <tr>
            <td nowrap>&nbsp;</td>
            <td nowrap><table width="300" border="0" cellpadding="2" cellspacing="0" class="gridTable">
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsHourPerMonth]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strHour" type="text" id="strHour" value="[var.strHour]" size="20" maxlength="10" class="numeric"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsDaysPerMonth]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strDays" type="text" id="strDays" value="[var.strDays]" size="20" maxlength="10" class="numeric"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsRoundSalaryTo]</strong></td>
                  <td>:</td>
                  <td><input name="strRound" type="text" id="strRound" value="[var.strRound]" size="20" maxlength="10" class="numeric"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsMaxStandardOT]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strHalfOTMax" type="text" id="strHalfOTMax" value="[var.strHalfOTMax]" size="20" maxlength="10" class="numeric"></td>
                </tr>

                <tr valign="top">
                  <td nowrap><strong>[var.strWordsOTRate]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strHalfOTRate" type="text" id="strHalfOTRate" value="[var.strHalfOTRate]" size="20" maxlength="10" class="numeric"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsOTBreakfast]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strOTBreakfastAllowance" type="text" id="strOTBreakfastAllowance" value="[var.strOTBreakfastAllowance]" size="20" maxlength="10" class="numeric"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsOTBase]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="intOTPercent" type="text" id="intOTPercent" value="[var.intOTPercent]" size="20" maxlength="10" class="numeric"></td>
                </tr>

                <tr valign="top">
                  <td nowrap><strong>[var.strWordsNishab]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strNishab" type="text" id="strNishab" value="[var.strNishab]" size="20" maxlength="10" class="numeric"></td>
                </tr>
				<tr valign="top">
                  <td nowrap><strong>[var.strWordsBasicSalaryCode]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strBasicSalaryCode" type="text" id="strBasicSalaryCode" value="[var.strBasicSalaryCode]" size="20" maxlength="30" class="text"></td>
                </tr>
                <tr valign="top">
                  <td nowrap><strong>[var.strWordsTaxMethod]</strong></td>
                  <td><strong>:</strong></td>
                  <td> <input name="strTaxMethod" type="checkbox" id="strTaxMethod" value="t" [var.strTaxMethod] size="20" maxlength="10" class="numeric">Gross Up</td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="2">&nbsp;</td>
          </tr>
          <tr>
            <td nowrap>&nbsp;</td>
            <td><strong>[var.strWordsBasicAllowanceList]</strong></td>
          </tr>
          <tr>
            <td  nowrap>&nbsp;</td>
            <td nowrap> <table border="0" cellpadding="0" cellspacing="0" class="gridTable">
                <tr align="center" class="tableHeader">
                  <td width="19px" nowrap>&nbsp;</td>
                  <td nowrap>[var.strWordsSeq]</td>
                  <td nowrap>[var.strWordCode]</td>
                  <td nowrap>[var.strWordsDispName]</td>
                  <td nowrap>[var.strWordsAmount]</td>
                  <td width="60px" nowrap>[var.strWordsActive]</td>
                  <td width="60px" nowrap>[var.strWordsSlip]</td>
                  <td width="60px" nowrap>[var.strWordsProrate]</td>
                  <td width="60px" nowrap>[var.strWordsOT] </td>
                  <td width="60px" nowrap>[var.strWordsTax]</td>
                  <td width="60px" nowrap>[var.strWordsJamsostek]</td>
                  <td width="60px" nowrap>[var.strWordsHideIfZero]</td>
                  <td width="60px" nowrap>[var.strWordsDaily]</td>
                  <td width="60px" nowrap>[var.strWordsBenefit]</td>
                  <td width="60px" nowrap>[var.strWordsIrregular]</td>
                  <!--td nowrap>Include<br>
                    Conjuncture</td-->
                  
                </tr> 
                [var.strDetailAllowance]
                <tr>
                  <td colspan="15">&nbsp;[<a href="javascript:moreInput('Allowance')">[var.strWordsMoreAllowance]</a>] [var.strHiddenAllowance]
                          <input name="btnDelete" type="submit" id="btnDelete" value="[var.strWordsDelete]">
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td nowrap>&nbsp;</td>
            <td nowrap>&nbsp;</td>
          </tr>
          <tr>
            <td nowrap>&nbsp;</td>
            <td nowrap><strong>[var.strWordsDeductionList]</strong></td>
          </tr>
          <tr>
            <td nowrap>&nbsp;</td>
            <td nowrap> <table border="0" cellpadding="0" cellspacing="0" class="gridTable">
                <tr align="center" class="tableHeader">
                  <td width="19px" nowrap></td>
                  <td nowrap>[var.strWordsSeq]</td>
                  <td nowrap>[var.strWordCode]</td>
                  <td nowrap>[var.strWordsDispName]</td>
                  <td nowrap>[var.strWordsAmount]</td>
                  <td nowrap>[var.strWordsMaxLink]</td>
                  <td width="60px" nowrap>[var.strWordsActive]</td>
                  <td width="60px" nowrap>[var.strWordsSlip]</td>
                  <td width="60px" nowrap>[var.strWordsProrate]</td>
                  <td width="60px" nowrap>[var.strWordsOT] </td>
                  <td width="60px" nowrap>[var.strWordsTax]</td>
                  <td width="60px" nowrap>[var.strWordsJamsostek]</td>
                  <td width="60px" nowrap>[var.strWordsHideIfZero]</td>
                  <td width="60px" nowrap>[var.strWordsDaily]</td>
                  <td width="60px" nowrap>&nbsp;</td>
                  <!--td nowrap>Include<br>
                    Conjuncture</td-->
                </tr>
                [var.strDetailDeduction]
                <tr>
                  <td colspan="15">&nbsp;[<a href="javascript:moreInput('Deduction')">[var.strWordsMoreDeduction]</a>][var.strHiddenDeduction]
                    <input name="btnDelete" type="submit" id="btnDelete" value="[var.strWordsDelete]">
                  </td>
                </tr>
              </table></td>
          </tr>
          <tr>
            <td align="center">&nbsp; </td>
            <td align="center"> <input name="inputTemplateName" type="text" id="inputTemplateName" onClick=""><input name="btnTemplateSave" type="submit" id="btnTemplateSave" value="[var.strWordsSaveTemplate]"></td>
          </tr>
          <tr>
            <td align="center">&nbsp; </td>
            <td align="center"> [var.templateList]<input name="btnTemplateLoad" type="submit" id="btnTemplateLoad" value="[var.strWordsLoadTemplate]"><input name="btnTemplateDelete" type="submit" id="btnTemplateDelete" value="[var.strWordsDeleteTemplate]"></td>
          </tr>
          <tr>
            <td align="center">&nbsp; </td>
            <td align="center"> <input name="btnSave" type="submit" id="btnSave" value="[var.strWordsSave]"></td>
          </tr>
          <tr>
            <td align="center">&nbsp;</td>
            <td align="center">&nbsp;</td>
          </tr>
        </table>
        <!--[var.helperScript]-->
      </form></td>
  </tr>
</table>