<script>
    jQuery(function ($) {
        $('#dataEmployee').autocomplete({
            source: "hrd_ajax_source.php?action=getemployee",
            minLength: 2,
            select: function (event, ui) {
                console.log(ui);
                $('#employee_name').html(ui.item.label);
            }
        });
        $("#dataDivision").change(function () {
            var division_code = $(this).val();
            var dataString = 'division_code=' + division_code;
            $.ajax({
                type: "POST",
                url: "../ajax.php?m=department-options",
                data: dataString,
                dataType: 'text',
                cache: false,
                success: function (respone) {
                    result = JSON.parse(respone);
                    $("#dataDepartment").html(result.data);
                }
            });
        });
    });
</script>
[var.pageHeader]
<div class="main-content">
    <div class="row">
        <div class="col-md-12">
            [var.formInput;protect=no;htmlconv=no]
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-actions">
                        <div class="pull-right" id="collapse-filter">
                            <a href="#"
                               data-toggle="collapse"
                               data-target="#list-panel"><i class="fa fa-chevron-circle-down bigger-130"></i></a>
                        </div>
                    </div>
                    <h3 class="panel-title">LIST SHIFT CHANGE</h3>
                </div>
                <div id="list-panel" class="panel-body collapse in">
                    [var.gridList;protect=no;htmlconv=no]
                </div>
            </div>
        </div>
    </div>
</div>