<table border="1" cellspacing="0" cellpadding="0">
  <tr height=16>
    <td colspan=4 align="center"><h5>Salary Of  <strong>[var.strMonth] <strong>[var.strYear]</h5></td>
  </tr>
  <tr height=16>
    <td valign="top"><p>NIK</p></td>
    <td valign="top"><p><strong>[var.rowDb.employee_id]</strong></p></td>
    <td valign="top"><p>Marital Status</p></td>
    <td valign="top"><p><strong>[var.rowDb.family_status_code]</strong></p></td>
  </tr>
  <tr height=16>
    <td valign="top"><p>No</p></td>
    <td valign="top"><p><strong>[var.intPage]</strong></p></td>
    <td valign="top"><p>Join Date</p></td>
    <td valign="top"><p><strong>[var.rowDb.join_date]</strong></p></td>
  </tr>
  <tr height=16>
    <td valign="top"><p>Nama</p></td>
    <td valign="top"><p><strong>[var.rowDb.employee_name]</strong></p></td>
    <td valign="top"><p>Position</p></td>
    <td valign="top"><p><strong>[var.rowDb.position_name]</strong></p></td>
  </tr>
  <tr height=16>
    <td valign="top"><p>Dept</p></td>
    <td valign="top"><p><strong>[var.rowDb.department_name]</strong></p></td>
    <td valign="top"><p>&nbsp;</p></td>
    <td valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td colspan=2><p><h5>Additional</h5></p></td>
    <td colspan=2 valign="top"><p><h5>Deduction</h5></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Basic</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.basic_salary]</strong></p></td>
    <td width="200" valign="top"><p>Jamsostek Employee</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.jamsostek_deduction]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Grade</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.grade_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Askes</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.askes_deduction]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Seniority</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.seniority_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Loan</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.loan_deduction]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Meal All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.meal_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Absent</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.absence_deduction]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Attendance All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.attendance_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Opening BII Acc</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.bii_account]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Transport All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.transport_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Meal Outside</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.out_meal]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Family All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.family_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Meal In Canteen</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.meal_canteen]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Medical All</p></td>
    <td width="100" valign="top"><p>0</p></td>
    <td width="200" valign="top"><p>Union Payment</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.union_payment]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Housing All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.housing_allowance]</strong></p></td>
    <td width="200" valign="top"><p>More Payment</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.more_payment]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Shift All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.shift_allowance]</strong></p></td>
    <td width="200" valign="top"><p>Jamsostek Company</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.housing_allowance]</strong></p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Sanding All</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.sanding_allowance]</strong></p></td>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Overtime</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.ot]</strong></p></td>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Less Payment</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.less_payment]</strong></p></td>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Jamsostek Company</p></td>
    <td width="100" valign="top"><p><strong>[var.rowDb.jamsostek_allowance]</strong></p></td>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
    <td width="200" valign="top"><p>&nbsp;</p></td>
    <td width="100" valign="top"><p>&nbsp;</p></td>
  </tr>
  <tr height=16>
    <td width="200" valign="top"><p>Total Additional</p></td>
    <td width="100" valign="top"><p><strong>[var.fltAdditional]</strong></p></td>
    <td width="200" valign="top"><p>Total Deduction</p></td>
    <td width="100" valign="top"><p><strong>[var.fltDeduction]</strong></p></td>
  </tr>
</table>
<table border="1" cellspacing="0" cellpadding="0">
  <tr height=16>
    <td valign="top"><p><h5>Total Received Salary&nbsp;&nbsp;&nbsp;</h5></p></td>
    <td valign="top"><p><h5><strong>[var.fltReceivedSalary]</h5></p></td>
  </tr>
</table>

<p>&nbsp;</p>
<p>Signature : Rika Ravika</p>
