<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
  <link href="[var.strPrintCss;magnet=link;mtype=m*]" rel="stylesheet" type="text/css">
  <style>
    [onload;magnet=style;mtype=m*m;file='[var.strStyle]';htmlconv=no;protect=no]
  </style>
  <script>
  <!--
  // fungsi untuk inisialisasi
  function initPage_() {
    [var.strPrintInit]
  }//initPage

  -->
</script>
</head>


<body leftmargin="10" topmargin="0" onload="initPage_();" marginheight="0" marginwidth="10">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td class="pageHeaderTitle" align="left">
      <table border="0" cellpadding="1" cellspacing="0">
        <tbody>
          <tr>
            <td class="blank" width="20">&nbsp;</td>
            <td class="pageHeaderTitleText" nowrap="nowrap"> &nbsp;[var.strPageTitle]</td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellpadding="1" cellspacing="0" class="gridTable">
          <tr>
            <th>[var.strWordsEmployeeID]</th>
            <th>[var.strWordsName]</th>
            <th>[var.strWordsDepartment]</th>
            <th>[var.strWordsUnit]</th>
            <th>[var.strWordsTrainingTopic]</th>
            <th>[var.strWordsInstitution]</th>
            <th>[var.strWordsTrainer]</th>
            <th>[var.strWordsTrainingDate]</th>
            <th>[var.strWordsCost]</th>
          </tr>
        [var.strDataDetail]
      </table>
    </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">[var.strCopyright]</td>
  </tr>
</table>
</body>
</html>
