<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  <tr >
    <td colspan="4">
      <table  border="0" cellspacing="5" cellpadding="1" >
        <tr> 
          <td align="center" colspan="3" nowrap> 
            <h2><u>FORM PERSETUJUAN TRAINING</u></h2>
          </td>
        </tr>
        <tr> 
          <td width="120">&nbsp;</td>
          <td width="20"></td>
          <td nowrap></td>
        </tr>
        <tr> 
          <td>Tanggal</td>
          <td width="20">:</td>
          <td nowrap>[var.strDate]</td>
        </tr>
        <tr> 
          <td>Nama Siswa</td>
          <td width="20">:</td>
          <td nowrap>[var.strEmployeeName]</td>
        </tr>
        <tr> 
          <td>Jabatan</td>
          <td width="20">:</td>
          <td nowrap>[var.strJabatan]</td>
        </tr>
        <tr> 
          <td>Divisi</td>
          <td width="20">:</td>
          <td nowrap>[var.strDivisi]</td>
        </tr>
        <tr><td colspan="3"><hr></td></tr>
        <tr> 
          <td>Judul Kursus</td>
          <td width="20">:</td>
          <td nowrap>[var.strJudulKursus]</td>
        </tr>
        <tr> 
          <td>Tanggal Kursus</td>
          <td width="20">:</td>
          <td nowrap>[var.strTanggalKursus]</td>
        </tr>
        <tr> 
          <td nowrap>Nomor Kursus</td>
          <td width="20">:</td>
          <td nowrap>[var.strNomorKursus]</td>
        </tr>
        <tr> 
          <td nowrap>Biaya Kursus</td>
          <td width="20">:</td>
          <td nowrap>[var.strBiayaKursus]</td>
        </tr>
        <tr> 
          <td nowrap colspan=2>Biaya UPD, Tranportasi & Akomodasi</td>
          <td nowrap>: [var.strBiayaLain]</td>
        </tr>
        <!--
        <tr> 
          <td width="25%">Masuk dalam anggaran</td>
          <td width="20">:</td>
          <td nowrap>Ya<input type="checkbox"> &nbsp;&nbsp;&nbsp; Tidak<input type="checkbox"></td>
        </tr>
        -->
        <tr><td colspan="3"><hr></td></tr>
        <tr> 
          <td nowrap>Nama Manager</td>
          <td width="20">:</td>
          <td nowrap>[var.strManagerName]</td>
        </tr>
        <tr> 
          <td nowrap>Alasan Ditraining</td>
          <td width="20">:</td>
          <td nowrap>[var.strTrainingNote]</td>
        </tr>
        <tr><td colspan="3">&nbsp;</td></tr>
        <tr><td colspan="3">&nbsp;</td></tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
      <table width="100%" border="0" cellspacing="5" cellpadding="1">
        <tr>
          <td align="center">Diajukan</td>
        </tr>
        <tr>
          <td height="50">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">.....................<br>Kepala Divisi</td>
        </tr>
      </table>
    </td> 
    <td>
      <table width="100%" border="0" cellspacing="5" cellpadding="1">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="50">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">.....................<br>Finance Div. Head</td>
        </tr>
      </table>
    </td> <td>
      <table width="100%" border="0" cellspacing="5" cellpadding="1">
        <tr>
          <td align="center">Disetujui</td>
        </tr>
        <tr>
          <td height="50">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">.....................<br>HRD Div. Head</td>
        </tr>
      </table>
    </td> <td>
      <table width="100%" border="0" cellspacing="5" cellpadding="1">
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
        <tr>
          <td height="50">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">.....................<br>Managing Director</td>
        </tr>
      </table>
    </td>
      </table>
    </td>
  </tr>
</table>