<script src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/invosa.js"></script>
<script type="text/javascript" src="../js/calendar.js"></script>
<script type="text/javascript" src="../js/calendar-en.js"></script>
<script type="text/javascript" src="../js/acEmployee.js"></script>
<script type="text/javascript" src="../js/ylib.js"></script>
<link href="../css/calendar.css" rel="stylesheet" type="text/css">
<link href="../css/ac.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/prototype.js"></script>
<script type="text/javascript" src="../js/numberformat.js"></script>
<script type="text/javascript" src="../js/html-form-input-mask.js"></script>
<script src="employee_data.php"></script>
<script type="text/javascript">
  jQuery(function($) {
  $('#dataPlanID').on('change', function(){
  var dataPlan=$(this).val();
 $.ajax({
				type:"POST",
				url:"training_request_edit.php",    
				data: "getPlanID=" + dataPlan,
				success: function(data){  
				arrData=data.split("/");


				dataPlan =arrData[0];
				
				dataType =arrData[1];
				dataDivision =arrData[2];
				dataDepartment =arrData[3];
				dataSection =arrData[4];
				dataSubSection =arrData[5];
				dataInstitution =arrData[6];
				dataTrainer =arrData[7];	
				$('#dataPlan').val(dataPlan);
				$('#dataType').val(dataType);
				$('#dataDivision').val(dataDivision);
				$('#dataDepartment').val(dataDepartment);
				$('#dataSection').val(dataSection);
				$('#dataSubSection').val(dataSubSection);
				$('#dataInstitution').val(dataInstitution);
				$('#dataTrainer').val(dataTrainer);
				}
			}); 
  
  });
  $('#dataDomain').on('change', function(){
  var dataComp=$(this).val();
 $.ajax({
				type:"POST",
				url:"training_plan_edit.php",    
				data: "domain=" + dataComp,
				success: function(data){  
				var dataType = new Array();
				dataType = data.split(",");
				$("#dataType").empty();
					$.each(dataType, function(index, value) {
						$("#dataType").append(
							$("<option></option>").val(value).html(value)
						);
					});
				}
			}); 
  
  });
})  
</script>
<script>
  // script-script tambahan, khusus untu loockup employee

  AC_targetElements = ["dataEmployee"[var.strTargetElements] ];
  AC_kode = "";
  AC_nama = "";
  // fungsi yang melakukan proses jika kode (dari input box yang yang diinginkan(
  // kehilangan fokus.
  function onCodeBlur() {
    var kode = eval("document.formInput." + AC_kode + ".value");
    var nama = AC_getNameByCode(kode);
    var obj = document.getElementById(AC_nama);
    obj.innerHTML = nama;
    return 1;
  }
</script>
<script>
  <!--

  // menampilkan pop-up window
  function openWindowDialog(url)
  {
    var winName = "_blank";
    var width=800;
    var height=500;
    var left = (screen.width - width) / 2;
    var top = (screen.height - height) / 2;
    var foo = window.open(url,winName,"menubar=no,status=no,resizable=yes,scrollbars=yes,modal=yes,top="+top+",left="+left+",width="+width+",height="+height+"");
    foo.focus();
  }

  // fungsi untuk menampilkan informasi tentang biaya perjalanan dinas berdasar band tertentu
  function showTopicInfo()
  {
    topic_id = document.getElementById("dataTopicID").value;
    if (topic_id != "")
    {
      openWindowDialog("data_training_topic_print.php?btnShowInfo=Topic&dataID=" + topic_id);
    }
  }

  function clearForm() {
    document.formInput.dataDepartment.value = "";
    document.formInput.dataEmployee.value = "";
    document.formInput.dataNumber.value = "";
    document.formInput.dataTopic.value = "";
    document.formInput.dataPurpose.value = "";
    document.formInput.dataTrainer.value = "";
    document.formInput.dataInstitution.value = "";
    document.formInput.dataResult.value = "";
    document.formInput.dataID.value = "";
    document.formInput.dataDepartment.focus();
  }//clearForm

  // fungsi memeriksa validasi input
  function validInput()
  {
    if (document.formInput.dataDate.value == "") {
      alert("Empty Date!");
      document.formInput.dataDate.focus();
      return false;
    }
    if (document.formInput.dataTopic.value == "") {
      alert("Empty topic!");
      document.formInput.dataTopic.focus();
      return false;
    }

    // cek apakah user employee
    // jika employee, gak boleh entry data kemarin
    if (document.formInput.dataUserRole.value == 2)
    {
      tmp = dateCompare(document.formInput.dataDate.value, document.formInput.dataTrainingDate.value);
      if (tmp == 1) {
        alert("Cannot entry date BEFORE application date!");
        document.formInput.dataTrainingDate.focus();
        return false;
      }
    }
    if (!isDuplicateParticipants() )
    {
      alert("Error: Duplicate participants! ");
      return false;
    }
    if (!isDuplicateTrainingTime() )
    {
      alert("Error: Duplicate training time! ");
      return false;
    }

    ok = validateForm(document.formInput);
    return ok;
  } //validInput

  // fungsi untuk memeriksa apakah ada duplicate employee
  function isDuplicateParticipants()
  {
    bolOK = true;
    arrPart = new Array();
    maks = document.getElementById("numShow").value;
    for (j = 1; j <= maks; j++)
    {
      // simpan dulu di array
      chkDel = document.getElementById("chkID" + j);
      strNIK = document.getElementById("detailEmployeeID" + j).value;
      if (!chkDel.checked && strNIK != "")
      {
        if (typeof arrPart[strNIK] != "undefined") // sudah ada
        {
          bolOK = false;
          break;
        }
        else
          arrPart[strNIK] = "true";
      }
    }
    return bolOK;
  }

  // fungsi untuk memeriksa apakah ada duplikasi waktu training
  function isDuplicateTrainingTime()
  {
    bolOK = true;
    arrPart = new Array();
    maks = document.getElementById("numShow1").value;
    for (j = 1; j <= maks; j++)
    {
      // simpan dulu di array
      chkDel = document.getElementById("chkIDA" + j);
      strNIK = document.getElementById("dataDateTraining" + j).value;
      if (!chkDel.checked && strNIK != "")
      {
        if (typeof arrPart[strNIK] != "undefined") // sudah ada
        {
          bolOK = false;
          break;
        }
        else
          arrPart[strNIK] = "true";
      }
    }
    return bolOK;
  }

  //fungsi untuk menampilkan baris baru untuk menambahkan data partisipan
  function showMoreInput()
  {

    var n = eval("document.formInput.numShow.value;");
    var max = eval("document.formInput.maxDetail.value;");
    n++;
    if (n < max) {
      strNama = "detailRows" + n;
      ylib_getObj(strNama).style.display = document.all ? "block" : "table-row";
      eval("document.formInput.numShow.value++;");
      eval("document.formInput.detailEmployeeID" + n + ".disabled = false");
      //eval("document.formInput.detailName" + n + ".disabled = false");
      eval("document.formInput.detailEmployeeID" + n + ".focus()");
    } else {

    }
  } //showMoreInput

  //fungsi untuk menampilkan baris baru untuk menambahkan data trainer
  function showMoreTrainerInput()
  {

    var n = eval("document.formInput.numTrainerShow.value;");
    var max = eval("document.formInput.maxTrainerDetail.value;");
    n++;
    if (n < max) {
      strNama = "detailTrainerRows" + n;
      ylib_getObj(strNama).style.display = document.all ? "block" : "table-row";
      eval("document.formInput.numTrainerShow.value++;");
      eval("document.formInput.detailTrainerEmployeeID" + n + ".disabled = false");
      eval("document.formInput.detailTrainerEmployeeID" + n + ".focus()");
    } else {

    }
  } //showMoreTrainerInput

  // tampilkan waktu training tambahan
  function showMoreInputTime()
  {
    var n = eval("document.formInput.numShow1.value;");
    var max = eval("document.formInput.maxDetail1.value;");
    n++;
    strStart = "dataStart" + n;
    strStart1 = "dataStart" + (n - 1);
    document.getElementById(strStart).value = document.getElementById(strStart1).value;
    strFinish = "dataFinish" + n;
    strFinish1 = "dataFinish" + (n - 1);
    document.getElementById(strFinish).value = document.getElementById(strFinish1).value;
    if (n < max)
    {
      strNama = "detailRowsA" + n;
      ylib_getObj(strNama).style.display = document.all ? "block" : "table-row";
      eval("document.formInput.numShow1.value++;");
      getDuration(n);
    }

  } //showMoreInput

  // hitung durasi jam
  function getDuration(n)
  {
    var start = eval("document.formInput.dataStart" + n + ".value");
    var finish = eval("document.formInput.dataFinish" + n + ".value");
    var intDur;
    // belum ada error checking
    var objDur = document.getElementById("dataDuration" + n );
    objDur.innerHTML = 0;
    if (start.length == 0 || finish.length == 0)
    {
      //alert("Error time!");
      objDur.innerHTML = "";
      return false;
    }

    strDur = 0;
    arrTmp = start.split(":");
    intStart = (60 * parseFloat(arrTmp[0])) + parseFloat(arrTmp[1]);
    arrTmp = finish.split(":");
    intFinish = (60 * parseFloat(arrTmp[0])) + parseFloat(arrTmp[1]);
    if (intStart < intFinish)
    {
      intDur = intFinish - intStart;
      intHour = Math.floor(intDur / 60);
      intMin = intDur % 60;
	  if(intHour < 10){
	  intHour="0"+intHour;
	  }else{
	  intHour=intHour
	  }
	  
	  if(intMin < 10){
	  intMin="0"+intMin;
	  }else{
	  intMin=intMin
	  }
	  
      strDur = intHour + " : " + intMin;
    }
    objDur.innerHTML = strDur;
    return true;
  }// getDuration

  //ketika checkbox delete berubah
  function chkDeleteChanged(index)
  { 

    if (index != "")
    {
      var chk = eval("document.formInput.chkID" + index + ".checked");
      if (chk) {
        str = "true";
      } else {
        str = "false";
      }

      eval("document.formInput.detailEmployeeID" + index + ".disabled = " + str);
      //eval("document.formInput.detailName" + index + ".disabled = " + str);

    }
  } //chkDeleteChanged
  
   //ketika checkbox form berubah
  function chkPrintForm(index)
  { 

  } //chkPrintForm
  
   //ketika checkbox form berubah
  function chkPrintCertificate(index)
  { 

  } //chkPrintCertificate

  //ketika checkbox delete (trainer) berubah
  function chkTrainerDeleteChanged(index)
  { 

    if (index != "")
    {
      var chk = eval("document.formInput.chkTrainerID" + index + ".checked");
      if (chk) {
        str = "true";
      } else {
        str = "false";
      }

      eval("document.formInput.detailTrainerEmployeeID" + index + ".disabled = " + str);
      //eval("document.formInput.detailName" + index + ".disabled = " + str);

    }
  } //chkDeleteChanged

  // perintah saat cek box delete time dipilih
  function chkDeleteChangedtime(index)
  {
    if (index != "")
    {
      var chk = eval("document.formInput.chkIDA" + index + ".checked");
      if (chk)
      {
        str = "true";
      } else {
        str = "false";
      }
      eval("document.formInput.dataDateTraining" + index + ".disabled = " + str);

      //eval("document.formInput.detailName" + index + ".disabled = " + str);

    }
  } //chkDeleteChanged
  

  // fungsi untuk menampilkan tabel data pembayaran (permohonan pembayaran)
  function showPaymentData() {
    var obj = document.getElementById("dataPayment");
    obj.style.display = document.all ? "block" : "table";
    document.formInput.dataPaymentDate.focus();
  }

  // fugnsi menghitung total payment dalam rupiah
  function getTotalPayment()
  {
    var amount = document.formInput.dataAmount.value;
    var amountOther = document.formInput.dataAmountOther.value;
    var forex = document.formInput.dataForex.value;

    if (isNaN(amount)) amount = 0;
    if (isNaN(amountOther)) amountOther = 0;
    if (isNaN(forex)) forex = 0;

    total = (amountOther * forex) + parseFloat(amount);

    document.formInput.dataTotalAmount.value = total;
  }// getTotalPayment


  // fungsi untuk inisialisasi
  function initPage_()
  {

    //document.formInput.dataDepartment.focus();

    //Calendar.setup({ inputField:"dataTrainingDate", button:"btnTrainingDate" });
    //Calendar.setup({ inputField:"dataTrainingDateThru", button:"btnTrainingDateThru" });
    AC_kode = "dataEmployee";
    AC_nama = "employee_name";
    init();
    i = 1;
    onCodeBlur();
    //maskEdit(document.getElementById("dataCost"), editKeyBoardNumeric);
    //Xaprb.InputMask.setupElementMasks();

    [var.strInitActions]
  }//initPage
  -->
  
  // fungsi untuk memanggil file print training form

  // fungsi memproses hapus gambar/foto
  function deleteFile(index) {
  documentName = document.formInput.syllabusDoc.value;
  if (documentName != ""){
		if (confirm("Are you sure want to delete syllabus?")) {
			location.href = "training_request_edit.php?fileID=" + index + "&dataID=" + document.formInput.dataID.value;
		}
    }
  }//deletePicture
  
  //fungsi untuk men-show syllabus sesuai dengan plan yang dipilih
  function syncPlanSyll(){
	var source = document.getElementsByName("dataPlan")[0];
	var target = document.getElementById("syllabus" + source.value);
	if(window.myVar) window.myVar.style.display = "none";
	if(target) {
		target.style.display = "block";
		window.myVar = target;
	}
  }

  //syncPlanSyll

    // fungsi memeriksa saat division dipilih, untuk menentukan managementnya
  function checkAll() {
    var div = document.formInput.dataTopicID.value;

    if (div != "") {

      if (arrDivision[div] != "undefined") {
        document.formInput.dataManagement.value = arrDivision[div];
      }
    }
  }// checkDivision
  
  
  
  
  </script>
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td width="20" class="blank">&nbsp;</td>
          <td nowrap class="pageHeaderTitleText">&nbsp;[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr><!-- 
  <tr>
    <td ><table border="0" cellspacing="0" cellpadding="1">
        <tr>
          <td width="20" class="blank">&nbsp;</td>
          <td nowrap>&nbsp;<strong>[var.strWordsInputTrainingRequest]
            | <a href="training_request_list.php">[var.strWordsTrainingRequestList]</a>
          </strong></td>
        </tr>
      </table></td>
  </tr> -->
  <tr>
    <td >&nbsp;</td>
  </tr>
  <tr>
    <td class="inputTop">[var.strWordsINPUTDATA]</td> 
  </tr>
  <tr>
    <td align="center"  [var.strMsgClass]>[var.strMessages]</td>
  </tr>
  <tr>
    <td valign="top" class="inputBox" style="padding-right:30px;">
      <form enctype="multipart/form-data" action="" method="post" name="formInput" id="formInput" onSubmit="return validInput();">
      <table border="0" align="left" cellpadding="3" cellspacing="1" width="">
        <tr valign="top">
          <td width="50%">
		    <table border="0" align="left" cellpadding="2" cellspacing="0">
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsEmployee]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputEmployee]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td nowrap><strong id="employee_name"></strong></td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsRequestNumber]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputNumber]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;</td>
                <td align="center">&nbsp;</td>
                <td nowrap>&nbsp;</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsDate]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputDate]&nbsp;</td>
              </tr>
             
              
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsTrainingCategory]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputCategory]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsExpectedResult]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputResult]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsLocation]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputPlace]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsAddress]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputAddress] <strong></strong></td>
              </tr>
              <!--
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsCost]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputCost]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsOtherCost]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputOtherCost]</td>
              </tr>
              -->
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsPaidBy]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputPaidBy]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsTrainingStatus]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputTrainingStatus]</td>
              </tr>
			  <!-- <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsTrainingSyllabus]</td>
                <td align="center">:</td>
               <td nowrap>[var.strInputTrainingSyllabus]</td>
				[var.strFileOption]
              </tr>>-->
			  <!--<tr>
				[var.strFileOption]
			  </tr>-->
            </table>
           
          </td>
          <td width="50%">
             <table border="0" align="left" cellpadding="2" cellspacing="0">
			 <tr valign="top">
                <td nowrap> &nbsp;[var.strWordsTrainingTopic]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputTopic][var.strInputDataPlan]</td>
              </tr>
			  <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsTrainingType]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputType]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsDivision]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputDivision]</td>
              </tr>
			    <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsDepartment]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputDepartment]</td>
              </tr>
			    <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsSection]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputSection]</td>
              </tr>
			    <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsSubSection]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputSubSection]</td>
              </tr>
               <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsInstitution]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputInstitution]</td>
              </tr>
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsTrainer] / [var.strWordsInstructor]</td>
                <td align="center">:</td>
                <td nowrap>[var.strInputTrainer]</td>
              </tr>
              
            </table>
          </td>
        </tr>
        <!--
        <tr id="rowTrainer">
          <td colspan=2>
            <fieldset><legend><strong>[var.strWordsTrainer]</strong></legend>[var.strInputTrainerMore]</fieldset>
          </td>
        </tr>-->
        <tr>
          <td colspan=2>
            <fieldset><legend><strong>[var.strWordsParticipant]</strong></legend>[var.strInputParticipant]</fieldset>
          </td>
        </tr>
        <tr>
          <td colspan=2>
            <fieldset><legend><strong>[var.strWordsTimeDetail]</strong></legend>[var.strInputTimeDetail]</fieldset>
          </td>
        </tr>
        <tr>
          <td>
            <table border="0" align="left" cellpadding="2" cellspacing="0">
              <tr valign="top">
                <td nowrap>&nbsp;[var.strWordsRequestStatus]</td>
                <td align="center">:</td>
                <td>[var.strInputStatus]</td>
              </tr>
            </table>
          </td>
          <td>
            &nbsp;
          </td>
        </tr>
        <tr>
          <td colspan=2>&nbsp;
            <input name="btnSave" type="submit" id="btnSave" value="[var.strWordsSave]" [var.strDisabledSave]>
            <input name="btnNew" type="button" id="btnNew" value="[var.strWordsClearForm]" onClick="location.href = 'training_request_edit.php'">
            <input name="dataID" type="hidden" id="dataID" value="[var.strDataID]">
            <input type=hidden name="dataUserRole" value="[var.strUserRole]">
          </td>
        </tr>
      </table>
    </form>
    </td>
  </tr>
  <tr>
    <td align="center" height="30">
    </td>
  </tr>
</table>