<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title></title>
  <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type">
  <link href="[var.strPrintCss;magnet=link;mtype=m*]" rel="stylesheet" type="text/css">
  <style>
    [onload;magnet=style;mtype=m*m;file='[var.strStyle]';htmlconv=no;protect=no]
  </style>
  <script>
  <!--
  // fungsi untuk inisialisasi
  function initPage_() {
    [var.strPrintInit]
  }//initPage

  -->
</script>

</head>


<body leftmargin="10" topmargin="0" onload="initPage_();" marginheight="0" marginwidth="10">

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td class="pageHeaderTitle" align="left"> <table border="0" cellpadding="1" cellspacing="0">
        <tbody>
          <tr>
            <td class="blank" width="20">&nbsp;</td>
            <td class="pageHeaderTitleText" nowrap="nowrap"> &nbsp;[var.strPageTitle]</td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td> <table border="0" cellpadding="1" cellspacing="0">
        <tbody>
          <tr>
            <td class="blank" width="20">&nbsp;</td>
            <td class="pageHeaderTitleText" nowrap="nowrap">&nbsp;</td>
          </tr>
        </tbody>
      </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td> <form action="" method="post" name="formData" id="formData">
        <table class="gridTable" border="0" cellpadding="1" cellspacing="0" width="100%">
          <tbody>
            <tr class="tableHeader" valign=top align=center>
              <td width="5">NO</td>
              <td class="tableHeader" nowrap="nowrap">DEPARTMENT</td>
              <td class="tableHeader" nowrap="nowrap">TRAINING TOPIC</td>
              <td class="tableHeader" nowrap="nowrap">PARTICIPANT</td>
              <td nowrap="nowrap" class="tableHeader">NUMBER</td>
              <td nowrap="nowrap" class="tableHeader">PURPOSE</td>
              <td class="tableHeader" nowrap="nowrap">INSTITUTION</td>
              <td class="tableHeader" nowrap="nowrap">TRAINING DATE</td>
              <td nowrap="nowrap" class="tableHeader">COST</td>
            </tr>
          [var.strDataDetail]
        </table>
      </form></td>
  </tr>
  <tr>
    <td><p>&nbsp;</p>
      <p>&nbsp;</p></td>
  </tr>
  <tr>
    <td align="center">[var.strCopyright]</td>
  </tr></tbody>
</table>

</body>
</html>
