<html>
<head>
  <link href="../css/invosa.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="scripts/scrolltop.js"></script>
</head>
<body>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strDestinationType] [var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><strong>[var.strWordsLISTOFBUSINESSTRIP] [var.strInfo]</strong></td>
  </tr>
  <tr>
    <td><form action="" method="post" name="formData" id="formData">
        <table border="0" cellpadding="0" cellspacing="0" class="gridTable" width="100%">
          <tr align="center" class="tableHeader">
            <td nowrap class="tableHeader">&nbsp;</td>
            <td nowrap class="tableHeader">[var.strWordsREQUEST]</td>
            <td nowrap class="tableHeader">[var.strWordsEMPLID]</td>
            <td nowrap class="tableHeader">[var.strWordsNAME]</td>
            <td nowrap class="tableHeader">[var.strWordsDEPT]</td>
            <td nowrap class="tableHeader">[var.strWordsSECT]</td>
            <td nowrap class="tableHeader">[var.strWordsDATEFROM] </td>
            <td nowrap class="tableHeader">[var.strWordsDATETHRU]</td>
            <td nowrap class="tableHeader">[var.strWordsDUR]</td>
            <td nowrap class="tableHeader">[var.strWordsLOCATIONTYPE]</td>
            <td nowrap class="tableHeader">[var.strWordsTRIPTYPE]</td>
            <td nowrap class="tableHeader">[var.strWordsDESTINATION]</td>
            <td nowrap class="tableHeader">[var.strWordsPURPOSE]</td>
            <td nowrap class="tableHeader">[var.strWordsTASK]</td>
            <td nowrap class="tableHeader">[var.strWordsTRIPFEE]</td>
            <td nowrap class="tableHeader">[var.strWordsTRANSPORTFEE]</td>
            <td nowrap class="tableHeader">[var.strWordsMEALFEE]</td>
            <td nowrap class="tableHeader">[var.strWordsACCOMODATIONFEE]</td>
            <td nowrap class="tableHeader">[var.strWordsDETASERINGFEE]</td>
            <td nowrap class="tableHeader">[var.strWordsTOTAL]</td>
            <td nowrap class="tableHeader">[var.strWordsSTATUS]</td>
          </tr>
          [var.strDataDetail]
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
