<html>
<head>
  <link href="../css/invosa.css" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="scripts/scrolltop.js"></script>
</head>
<body>

<table style="text-align: left; width: 100%;" border="0" cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>&nbsp;
      <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="0">
        <tbody>
          <tr valign="top">
            <td width="50%"><img style="width: 80px; height: 55px;" alt="Logo" src="../images/logo.gif"></td>
            <td align="right" width="50%">
            <table class="gridTable" style="text-align: left; width: 100%;" border="0" cellpadding="1" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td class="formHeader" colspan="2" rowspan="1" align="center" nowrap="nowrap">Formulir Perjalanan Dinas </td>
                </tr>
                <tr>
                  <td width="25%">Nomor</td>
                  <td>: [var.strDataNo]</td>
                </tr>
                <tr>
                  <td>&nbsp;</td>
                  <td>&nbsp; Jakarta, [var.strDataDate] </td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="50%"></td>
            <td align="right" width="50%"></td>
          </tr>
          <tr valign="top">
            <td width="50%">
            <table class="gridTable" style="text-align: left; width: 100%;" border="0" cellpadding="1" cellspacing="0" width="100%">
              <tbody>
                <tr>
                  <td class="tableHeader" colspan="2" rowspan="1" align="center" nowrap="nowrap">Ditugaskan Kepada </td>
                </tr>
                <tr>
                  <td>Nama</td>
                  <td>: [var.strDataEmployeeName]</td>
                </tr>
                <tr>
                  <td>NIK</td>
                  <td>: [var.strDataEmployee]</td>
                </tr>
                <tr>
                  <td>Bagian</td>
                  <td>: [var.strDataSection]</td>
                </tr>
                <tr>
                  <td colspan="2" rowspan="1">&nbsp;</td>
                </tr>
              </tbody>
            </table>
						&nbsp;<br>
            <table style="text-align: left;" border="0" cellpadding="4" cellspacing="0" width="100%">
              <tbody>
                <tr valign="top">
                  <td width="30%">
                  <table class="gridTable" border="0" cellpadding="1" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td class="tableHeader" align="center"><span style="font-weight: bold;">Yang Memberi<br>Tugas&nbsp; </span></td>
                      </tr>
                      <tr>
                        <td>&nbsp;<br>
                        <br>
												&nbsp;<br>
                        <br>
                        <br>
												&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;Tgl :</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="30%">
                  <table class="gridTable" border="0" cellpadding="1" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td class="tableHeader" align="center"><span style="font-weight: bold;">Yang Menerima<br>Tugas</span></td>
                      </tr>
                      <tr>
                        <td>&nbsp;<br>
                        <br>
												&nbsp;<br>
                        <br>
                        <br>
												&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;Tgl :</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                  <td width="30%">
                  <table class="gridTable" border="0" cellpadding="1" cellspacing="0" width="100%">
                    <tbody>
                      <tr>
                        <td class="tableHeader" align="center"><span style="font-weight: bold;">Mengetahui<br>HRD</span></td>
                      </tr>
                      <tr>
                        <td>&nbsp;<br>
                        <br>
												&nbsp;<br>
                        <br>
                        <br>
												&nbsp;</td>
                      </tr>
                      <tr>
                        <td>&nbsp;Tgl :</td>
                      </tr>
                    </tbody>
                  </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            </td>
            <td align="right" width="50%">
            <table style="text-align: left; width: 100%;" border="0" cellpadding="2" cellspacing="0">
              <tbody>
                <tr>
                  <td class="tableHeader" colspan="2" rowspan="1">Infomasi Absen</td>
                </tr>
                <tr>
                  <td style="white-space: nowrap; width: 25%;" nowrap="nowrap">Dari Tanggal</td>
                  <td>: [var.strDataDateFrom]</td>
                </tr>
                <tr>
                  <td nowrap="nowrap">Sampai Tanggal</td>
                  <td nowrap="nowrap">: [var.strDataDateThru]&nbsp;</td>
                </tr>
                <tr>
                  <td nowrap="nowrap">Lokasi Tujuan</td>
                  <td>: [var.strDataLocation]</td>
                </tr>
                <tr>
                  <td>Tujuan</td>
                  <td>: [var.strDataPurpose]</td>
                </tr>
                <tr>
                  <td colspan="2" rowspan="1">Untuk mengerjakan tugas &nbsp;:<br>[var.strDataNote]</td>
                </tr>
              </tbody>
            </table>
            </td>
          </tr>
          <tr>
            <td width="50%"></td>
            <td align="right" width="50%"></td>
          </tr>
        </tbody>
      </table>
      <br>
      </td>
    </tr>
  </tbody>
</table>
</body>
</html>