<script>
 function UploadFile(a)
  {
	alert(a);

}
</script>

<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
        <tr>
          <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
          <td nowrap class="pageHeaderTitleText">[var.strPageTitle]</td>
        </tr>
      </table></td>
  </tr>
  
 
  <tr>
    <td>&nbsp;</td>
  </tr>
 
   <tr>
    <td class="inputTop">[var.strWordsINPUTDATA]</td>
  </tr>
  
  <tr>
    <td valign="top" class="inputBox"> <form action="upload_file_regulation_action.php" method="post" name="formInput" id="formInput" enctype="multipart/form-data">
        <table border="0" cellspacing="0" cellpadding="2">
          <tr>
            <td valign="top"> <table border="0" align="left" cellpadding="1" cellspacing="0">
                <tr valign="top">
                  <td nowrap>&nbsp;No</td>
                  <td align="center">:</td>
                  <td>[var.strInputNo]</td>
                </tr>
				<tr valign="top">
                  <td nowrap>&nbsp;Description</td>
                  <td align="center">:</td>
                  <td>[var.strInputDesc]</td>
                </tr>
                <tr valign="top">
                  <td nowrap>&nbsp;Document</td>
                  <td align="center">:</td>
                  <td>[var.strInputDoc]</td>
                </tr>
               
              </table></td>
            <td width="20" valign="top">&nbsp;</td>
            <td valign="top">&nbsp; </td>

          </tr>
 	   <tr valign="top">
                  
                  <td align="left">&nbsp;</td>
                  <td> <input name="btnUpload" type="submit" id="btnUpload" value="Submit">
		
		     <!--<td> <input name="btnUpload" type="button" id="btnUpload" value="Upload" onClick="UploadFile(<?php $_FILES["file"]["tmp_name"] ?>)">--> 

	</td>
	</tr>
        </table>
      </form></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
   <tr>
    <td>
[var.DataGrid;protect=no;htmlconv=no]
    </td>
	</tr>
</table>



</table>
