<script>
	<!--

	// fungsi untuk inisialisasi
	function initPage_() {
		//Calendar.setup({ inputField:"dataDate", button:"btnDate" });
	}//initPage
	-->
</script>
<meta http-equiv="refresh" content="900">
</head>

<body leftmargin="10" topmargin="0" marginwidth="10" marginheight="0" onLoad="initPage_();">
<table width="100%" border="0" cellspacing="0" cellpadding="5">
  <tr>
    <td width="50%" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
                <td nowrap class="pageHeaderTitleText"> &nbsp;Birthday</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridTable">
              <tr class="tableHeader">
                <td nowrap>Empl. ID</td>
                <td nowrap>Name</td>
                <td align="center" nowrap>F/M</td>
                <td align="center" nowrap>Birthday</td>
                <td align="center">Age</td>
              </tr>
              [var.strDetailBirthday]
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="19">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
      </table>
      <p>&nbsp;</p></td>
    <td valign="top">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td align="left">&nbsp;</td>
        </tr>
        <tr>
          <td align="left" class="pageHeaderTitle"> <table border="0" cellspacing="0" cellpadding="2">
              <tr>
                <td width="30"><img src="[var.pageIcon]" border="0" width="30" /></td>
                <td nowrap class="pageHeaderTitleText"> &nbsp;CONTRACT EMPLOYEE</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td><table width="100%" border="0" cellpadding="0" cellspacing="0" class="gridTable">
              <tr class="tableHeader">
                <td nowrap>Empl. ID</td>
                <td nowrap>Name</td>
                <td align="center" nowrap>F/M</td>
                <td nowrap>Ctr</td>
                <td nowrap>Section</td>
                <td nowrap>Join Date</td>
                <td nowrap>Due Date</td>
                <td>&nbsp;</td>
              </tr>
              [var.strDetailContract]
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></td>
        </tr>
        <tr>
          <td height="19">&nbsp;</td>
        </tr>
        <tr>
          <td align="center">&nbsp;</td>
        </tr>
      </table></td>
  </tr>
</table>